@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model Whoaverse.Models.AddSubmissionLinkpost

@{
    ViewBag.Title = "subverse: submit";

    string loggedinUser = User.Identity.Name;
    DateTime today = System.DateTime.Now;
    DateTime currentdatetime = System.DateTime.Now;

    string linkPost = Request.Params["linkpost"];

    string linkDescription = Request.Params["linkdescription"];
    string linkUrl = Request.Params["linkurl"];
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-info">You are submitting a link.</div>

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <!-- Setup default values -->
        @Html.Hidden("Date", currentdatetime)
        @Html.Hidden("Name", loggedinUser)
        @Html.Hidden("Type", 2)
        @Html.Hidden("Votes", 1)
        @Html.Hidden("Rank", 0)

        <div class="form-group">
            @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Linkdescription, new { @class = "form-control", Value = @linkDescription })
                <a href="javascript:void(0)" onclick="return suggestTitle()">Suggest title (first enter the URL)</a>
                @Html.ValidationMessageFor(model => model.Linkdescription)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Subverse", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Subverse, new { @class = "form-control", @Value = ViewBag.selectedSubverse, id = "Subverse", @placeholder = "Start typing to get suggestions" })
                @Html.ValidationMessageFor(model => model.Subverse)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-9">
                popular choices:
                <b>
                    videos,
                    pics,
                    programming,
                    funny,
                    science,
                    technology,
                    news,
                    music
                </b>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("URL", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.MessageContent, new { @class = "form-control", Value = @linkUrl })
                @Html.ValidationMessageFor(model => model.MessageContent)
            </div>
        </div>

        @if (Whoaverse.Utils.Karma.CommentKarma(User.Identity.Name) < 25)
        {
            <div class="alert alert-info">Are you a human? Please type the text you see in the image below (sorry, this is to prevent spam):</div>

            <div class="panel panel-default panel-transparent">
                <div class="col-md-offset-2 col-md-10">
                    @if (Request.IsSecureConnection)
                    {
                        <script type="text/javascript">
                            var RecaptchaOptions = {
                                theme: 'white',
                                lang: 'en',
                                tabindex: 0
                            };
                        </script>
    <script type="text/javascript"
            src="https://www.google.com/recaptcha/api/challenge?k=@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]">
    </script>
                        <noscript>
                            <iframe src="https://www.google.com/recaptcha/api/noscript?k=@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]"
                                    height="300" width="500" frameborder="0"></iframe><br>
                            <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                            <input type="hidden" name="recaptcha_response_field"
                                   value="manual_challenge">
                        </noscript>
                    }
                    else
                    {
                        <script type="text/javascript">
                            var RecaptchaOptions = {
                                theme: 'white',
                                lang: 'en',
                                tabindex: 0
                            };
                        </script>
    <script type="text/javascript"
            src="http://www.google.com/recaptcha/api/challenge?k=@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]">
    </script>
                        <noscript>
                            <iframe src="http://www.google.com/recaptcha/api/noscript?k=@System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]"
                                    height="300" width="500" frameborder="0"></iframe><br>
                            <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                            <input type="hidden" name="recaptcha_response_field"
                                   value="manual_challenge">
                        </noscript>
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn-whoaverse" />
            </div>
        </div>
    </div>
}
