@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@using Recaptcha.Web.Mvc;

@model Whoaverse.Models.AddSubmissionSelfpost

@{
    ViewBag.Title = "subverse: submit";

    string loggedinUser = User.Identity.Name;
    DateTime today = System.DateTime.Now;
    DateTime currentdatetime = System.DateTime.Now;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <br />
    <div class="alert alert-info">You are starting a new discussion.</div>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @*Setup default values*@
        @Html.Hidden("Date", currentdatetime)
        @Html.Hidden("Name", loggedinUser)
        @Html.Hidden("Type", 1)
        @Html.Hidden("Votes", 1)
        @Html.Hidden("Rank", 0)

        <div class="form-group">
            @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Subverse", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Subverse, new { @class = "form-control", @Value = ViewBag.selectedSubverse })
                @Html.ValidationMessageFor(model => model.Subverse)
            </div>

        </div>

        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-9">
                popular choices:
                <b>
                    videos,
                    pics,
                    programming,
                    funny,
                    science,
                    technology,
                    news,
                    music
                </b>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Message (optional)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.MessageContent, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MessageContent)
            </div>
        </div>

        @if (Whoaverse.Utils.Karma.CommentKarma(User.Identity.Name) < 25)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Are you a human?</div>
                <div class="panel-body">
                    <p>Please re-type the text you see in the photo:</p>
                </div>
            </div>

            <div class="panel panel-default">
                @if (Request.IsSecureConnection)
                {
                    <script type="text/javascript">
                            var RecaptchaOptions = {
                                theme: 'white',
                                lang: 'en',
                                tabindex: 0
                            };
                    </script>
                    <script type="text/javascript"
                            src="https://www.google.com/recaptcha/api/challenge?k=6LfHu_USAAAAAPa_PDZQPP2zQnhVs1secUolw2P-">
                    </script>
                    <noscript>
                        <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LfHu_USAAAAAPa_PDZQPP2zQnhVs1secUolw2P-"
                                height="300" width="500" frameborder="0"></iframe><br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                        <input type="hidden" name="recaptcha_response_field"
                               value="manual_challenge">
                    </noscript>
                }
                else
                {
                    <script type="text/javascript">
                            var RecaptchaOptions = {
                                theme: 'white',
                                lang: 'en',
                                tabindex: 0
                            };
                    </script>
                    <script type="text/javascript"
                            src="http://www.google.com/recaptcha/api/challenge?k=6LfHu_USAAAAAPa_PDZQPP2zQnhVs1secUolw2P-">
                    </script>
                    <noscript>
                        <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LfHu_USAAAAAPa_PDZQPP2zQnhVs1secUolw2P-"
                                height="300" width="500" frameborder="0"></iframe><br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                        <input type="hidden" name="recaptcha_response_field"
                               value="manual_challenge">
                    </noscript>
                }                           
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn-whoaverse" />
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Formatting help
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Whoaverse uses a slightly-customized version (we disabled embedding of images etc) of <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting. See below for some basics, or check <a href="~/help/markdown">here</a> for more detailed help.<br /><br />
                        <div class="well">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>You type</th>
                                        <th>You see</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>*italics*</td>
                                        <td><i>italics</i></td>
                                    </tr>
                                    <tr>
                                        <td>**bold**</td>
                                        <td><b>bold</b></td>
                                    </tr>
                                    <tr>
                                        <td>[Yay, a Google!](http://google.com)</td>
                                        <td><a href="http://google.com">Yay, a Google!</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/help/markdown" target="_blank">Click here to see more samples.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

