@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@{
    string selectedSubverse = ViewBag.SelectedSubverse;

    string sortingMode = ViewBag.SortingMode;
    string selectedUser = ViewBag.userid;
    string selectedSubverseNew = "";
    string classHot = "selected";
    string classNew = "disabled";
    string classOverview = "disabled";
    string classComments = "disabled";
    string classSubmissions = "disabled";

    string whattodisplay = ViewBag.whattodisplay;

    ViewBag.Title = ViewBag.Title ?? "whoaverse: the next frontpage of the internet";
    ViewBag.Url = ViewBag.Url ?? HttpContext.Current.Request.RawUrl;
    ViewBag.Image = ViewBag.Image ?? "http://whoaverse.com/Graphics/whoaverse_padded.png";
    ViewBag.Description = ViewBag.Description ?? "whoaverse: the next frontpage of the internet";

    if (selectedSubverse != null && selectedSubverse != "frontpage" && selectedSubverse != "user" && selectedSubverse != "domains")
    {
        selectedSubverse = "/v/" + ViewBag.SelectedSubverse;
        selectedSubverseNew = selectedSubverse + "/new";
    }
    else
    {
        if (selectedSubverse != "user" && selectedSubverse != "domains")
        {
            selectedSubverse = "/";
            selectedSubverseNew = "new";
        }
        if (selectedSubverse == "domains")
        {
            selectedSubverse = "/domains/" + ViewBag.SelectedDomain + "/";
            selectedSubverseNew = "/domains/" + ViewBag.SelectedDomain + "/new";
        }
    }

    if (whattodisplay != null)
    {
        if (whattodisplay == "comments")
        {
            classComments = "selected";
            classOverview = "disabled";
            classSubmissions = "disabled";
        }
        if (whattodisplay == "submissions")
        {
            classComments = "disabled";
            classOverview = "disabled";
            classSubmissions = "selected";
        }
    }

    if (sortingMode != null)
    {
        if (sortingMode.Equals("new"))
        {
            classHot = "disabled";
            classNew = "selected";
        }
    }

}

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    else
    {
        <meta name="description" content="Whoaverse: the next front page of the internet" />
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    else
    {
        <meta name="keywords" content="whoaverse, whoaverse.com, vote, submit, comment" />
    }

    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:site_name" content="whoaverse" />
    <meta property="og:description" content="@ViewBag.Description" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/whoaverse")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49743834-1', 'whoaverse.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

    <link rel='shortcut icon' href="http://www.whoaverse.com/favicon.ico" type="image/x-icon" />

</head>
<body>

    <div id="header" role="banner">
        @Html.Action("listofsubverses", "Home", new { activeSubverse = selectedSubverse })
        <div id="header-bottom-left">

                <a title="Whoaverse.com - Alpha" href="/" id="header-img-a">
                <img id="header-img" src="~/Graphics/whoaverse_padded.png" alt=" whoaverse.com" height="40" width="113">
                </a>
            @{
                if (selectedSubverse.Equals("user"))
                {
                    <ul class="tabmenu ">
                        <li class="@classOverview"><a href="~/user/@selectedUser">overview</a></li>
                        <li class="@classComments"><a href="~/user/@selectedUser/comments">comments</a></li>
                        <li class="@classSubmissions"><a href="~/user/@selectedUser/submissions">submitted</a></li>
                        <li><a href="/submit">submit a message</a></li>
                        <li><a href="/submit?linkpost=true">submit a link</a></li>
                    </ul>
                }
                else if (selectedSubverse.Equals("/"))
                {
                    <ul class="tabmenu ">
                        <li class="@classHot"><a href="@selectedSubverse">hot</a></li>
                        <li class="@classNew"><a href="@selectedSubverseNew">new</a></li>
                        <li><a href="/submit">submit a message</a></li>
                        <li><a href="/submit?linkpost=true">submit a link</a></li>
                    </ul>
                }
                else if (ViewBag.SelectedSubverse.Equals("domains"))
                {
                    if (!Request.Browser.IsMobileDevice)
                    {
                        <span class="hover pagename"><a href="@selectedSubverse">@ViewBag.SelectedDomain</a></span>
                    }
                    <ul class="tabmenu ">
                        <li class="@classHot"><a href="@selectedSubverse">hot</a></li>
                        <li class="@classNew"><a href="@selectedSubverseNew">new</a></li>
                        <li><a href="/submit">submit a message</a></li>
                        <li><a href="/submit?linkpost=true">submit a link</a></li>
                    </ul>
                }
                else if (ViewBag.SelectedSubverse.Equals("subverses"))
                {
                    <ul class="tabmenu ">
                        <li class="@classHot"><a href="/subverses">popular</a></li>
                        <li class="@classNew"><a href="/subverses/new">new</a></li>
                    </ul>
                }
                else if (ViewBag.SelectedSubverse.Equals(string.Empty))
                {
                    // don't show tab menu
                }
                else
                {
                    if (!Request.Browser.IsMobileDevice)
                    {
                        <span class="hover pagename"><a href="@selectedSubverse">@ViewBag.SelectedSubverse</a></span>
                    }
                    <ul class="tabmenu ">
                        <li class="@classHot"><a href="@selectedSubverse">hot</a></li>
                        <li class="@classNew"><a href="@selectedSubverseNew">new</a></li>
                        <li><a href="@selectedSubverse/submit">submit a message</a></li>
                        <li><a href="@selectedSubverse/submit?linkpost=true">submit a link</a></li>
                    </ul>
                }

            }
        </div>

        @Html.Partial("_LoginPartial")

    </div>

    <!-- Must be logged in Modal -->
    <div class="modal fade" id="mustbeloggedinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Login or register</h4>
                </div>
                <div class="modal-body">
                    You can login or register by clicking the buttons below.
                    Registering is free and <strong>all you need is a username and password</strong>. We never ask you for your e-mail.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" href="~/account/register" role="button">Register</a>
                    <a class="btn btn-default" href="~/account/login?returnurl=@Url.RouteUrl(ViewContext.RouteData.Values)" role="button">Log in</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Must be logged in Modal -->
    @RenderBody()

    @Html.Partial("_Footer");

    <br />

    @{
        if (HttpContext.Current.Request.Cookies["NotFirstTime"] == null)
        {
            HttpCookie cookie = new HttpCookie("NotFirstTime");
            cookie.Value = "whoaverse first time visitor identifier";
            HttpContext.Current.Response.Cookies.Add(cookie);

            <div class="eppnotice">
                <button type="button" class="btn-whoaverse-medium" data-dismiss="alert" aria-hidden="true">&times;</button>
                Cookies help us deliver our services. By using our services, you agree to our use of cookies.
            </div>
        }
    }

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>



</html>
