@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model Whoaverse.Models.Message

@using Whoaverse.Utils;

@{
    DateTime submissionDate = Model.Date;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);
}

<!-- 1 message submission details without comments -->

<div id="siteTable" class="sitetable linklisting">
    <div id="submissionid-@Model.Id" class="thing odd link self id-@Model.Id" data-fullname="t3_@Model.Id" data-ups="2" data-downs="0">
        <p class="parent"></p>
        <span class="rank">1</span>

        @Html.Partial("_votingIconsSubmission", Model)

        <div class="entry unvoted">
            <p class="title">
                <a class="title may-blank " href="/v/@Model.Subverse/comments/@Model.Id" tabindex="1">@Model.Title</a>&#32;
                <span class="domain">(<a href="/v/@Model.Subverse">self.@Model.Name</a>)</span>
            </p>
            <p class="tagline">
                submitted&#32;
                <time title="@Model.Date" datetime="@Model.Date">@postAge</time>&#32;ago&#32;by&#32;

                @{
                    if (Model.Name == "deleted")
                    {
                        <span class="userattrs">[deleted]</span>
                    }
                    else
                    {
                        <span class="userattrs">
                            <a href="/user/@Model.Name" class="author may-blank id-t2_@Model.Id">@Model.Name</a>
                        </span>
                    }
                }

            </p>

            @{
                if (!Model.MessageContent.IsEmpty())
                {
                    <div class="expando">

                        <form class="usertext" onsubmit="return editmessagesubmit(@Model.Id)" id="messageeditform-@Model.Id" action="#">
                            @Html.AntiForgeryToken()
                            <input id="MessageId" name="MessageId" value="@Model.Id" type="hidden">

                            <div class="usertext-body may-blank-within">
                                <div class="md">
                                    @Html.Raw(@Formatting.FormatMessage(@Model.MessageContent))
                                </div>
                            </div>

                            <div class="usertext-edit" style="width: 775px; display: none;">
                                <div>
                                    <textarea aria-invalid="false" class="form-control valid" cols="20" id="MessageContent" name="MessageContent" rows="2" data-rule-required="true" data-msg-required="The text can not be empty.">@Model.MessageContent</textarea>
                                    <span data-valmsg-replace="false" data-valmsg-for="CommentContent" class="field-validation-error"></span>
                                    <div class="usertext-buttons">
                                        <input value="Save" class="btn-whoaverse-paging" type="submit">
                                        <button class="btn-whoaverse-paging" onclick="removesubmissioneditform(@Model.Id)" type="button">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                }
            }

            <ul class="flat-list buttons">
                <li class="first">
                    <a href="/v/@Model.Subverse/comments/@Model.Id" class="comments may-blank">@Model.Comments.Count comments</a>
                </li>

                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if (User.Identity.Name == Model.Name)
                        {
                            <li>
                                <a class="" href="javascript:void(0)" onclick="return editsubmission(@Model.Id)">edit</a>
                            </li>
                            <li>
                                <form class="toggle del-button " action="#" method="get">
                                    <input class="active" name="executed" value="deleted" type="hidden">
                                    <span class="option main active">
                                        <a href="javascript:void(0)" class="togglebutton" onclick="return togglesubmission(@Model.Id)">delete</a>
                                    </span>
                                    <span class="option error">
                                        are you sure?  <a href="javascript:void(0)" class="yes" onclick="deletesubmission(@Model.Id)">yes</a> / <a href="javascript:void(0)" class="no" onclick="return togglesubmissionback(@Model.Id)">no</a>
                                    </span>
                                </form>
                            </li>
                        }
                        else if (Model.Name != "deleted" && Whoaverse.Utils.User.IsUserSubverseAdmin(User.Identity.Name, Model.Subverse) || Model.Name != "deleted" && Whoaverse.Utils.User.IsUserSubverseModerator(User.Identity.Name, Model.Subverse))
                        {
                            <li>
                                <form class="toggle del-button " action="#" method="get">
                                    <input class="active" name="executed" value="deleted" type="hidden">
                                    <span class="option main active">
                                        <a href="javascript:void(0)" class="togglebutton" onclick="return togglesubmission(@Model.Id)">delete</a>
                                    </span>
                                    <span class="option error">
                                        are you sure?  <a href="javascript:void(0)" class="yes" onclick="deletesubmission(@Model.Id)">yes</a> / <a href="javascript:void(0)" class="no" onclick="return togglesubmissionback(@Model.Id)">no</a>
                                    </span>
                                </form>
                            </li>
                        }

                    }
}

            </ul>

        </div>
        <div class="child"></div>
        <div class="clearleft">
            <!--IE6sux-->
        </div>
    </div>
    <div class="clearleft">
        <!--IE6sux-->
    </div>
</div>

