@model IQueryable<Voat.Models.Message>

@foreach (var submission in Model)
{
    DateTime submissionDate = submission.Date;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);
    
    // type 2 = link
    // type 1 = message
    if (submission.Type == 2)
    {
        string commentsUrl = "/v/" + submission.Subverse + "/comments/" + submission.Id;
        <span><a href="@commentsUrl" tabindex="1" title="@submission.Linkdescription">@submission.Linkdescription</a></span>
    }
    else
    {
        string commentsUrl = "/v/" + submission.Subverse + "/comments/" + submission.Id;
        <span><a href="@commentsUrl" tabindex="1" title="@submission.Title">@submission.Title</a></span>
    }

    <div class="tagline">@submission.Subverse / @postAge ago</div>
}

