@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model Whoaverse.Models.Message

@{
    double percentageOfLove;
    double totalVotes = Model.Dislikes + Model.Likes;
    double difference = Model.Likes - Model.Dislikes;

    percentageOfLove = Math.Round((Model.Likes / totalVotes) * 100, 2);

    if (!Request.Browser.IsMobileDevice)
    {
        <div class="side">
            <div class="spacer">
                <div class="titlebox footer rounded">
                    <h2 class="hover whoaversename">
                        Submission Info
                    </h2>
                    <div class="bottom">

                        @{
        if (Model.Name == "deleted")
        {
            <p class="h6">
                Posted by: [deleted]
            </p>
        }
        else
        {
            <p class="h6">
                Posted by: <a href="/user/@Model.Name" class="author may-blank">@Model.Name</a>
            </p>
        }
                        }

                        <p class="h6">
                            Posting time: <time title="@Model.Date" datetime="@Model.Date">@Model.Date</time>
                        </p>

                        @{
        if (@Model.LastEditDate != null)
        {
            <p class="h6">
                Last edit time: <time title="@Model.LastEditDate" datetime="@Model.LastEditDate">@Model.LastEditDate</time>
            </p>
        }
        else
        {
            <p class="h6">
                Last edit time: never edited.
            </p>
        }
                        }

                    </div>
                    <h2 class="hover whoaversename">
                        Score
                    </h2>
                    <div class="bottom">
                        <p class="h6">
                            Imaginary score points: <b>@difference</b>
                        </p>
                        <p class="h6">
                            Liked by: <b>@Model.Likes</b> people.
                        </p>
                        <p class="h6">
                            Disliked by: <b>@Model.Dislikes</b> people.
                        </p>
                        <p class="h6">
                            (That would mean that <b>@percentageOfLove%</b> liked it.)
                        </p>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    }
}