@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model Whoaverse.Models.Message

@using Whoaverse.Utils;

@{

    string commentsUrl = "/v/" + Model.Subverse + "/comments/" + Model.Id;

    DateTime submissionDate = Model.Date;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);    

    //type 2 = urls
    if (Model.Type == 2)
    {
        string submissionDomain = UrlUtility.GetDomainFromUri(Model.MessageContent);

        if (Model.Thumbnail != null)
        {
            <a class="thumbnail may-blank " href="@Model.MessageContent">
                <img src="~/Thumbs/@Model.Thumbnail" alt="" />
            </a>
        }

        <div class="entry unvoted">
            <p class="title">
                <a class="title may-blank " href="@Model.MessageContent" tabindex="1">@Model.Linkdescription</a>
                <span class="domain">(<a href="/domains/@submissionDomain/">@submissionDomain</a>)</span>
            </p>
            
                @{
                    if (Model.Name == "deleted")
                    {
                        <p class="tagline">
                            submitted <time title="@Model.Date" datetime="@Model.Date">@postAge</time> ago by 
                            <span class="userattrs">[deleted]</span> to <a href="/v/@Model.Subverse" class="subreddit hover may-blank">@Model.Subverse</a>
                        </p>
                    }
                    else
                    {
                        <p class="tagline">
                            submitted <time title="@Model.Date" datetime="@Model.Date">@postAge</time> ago by <a href="/user/@Model.Name" class="author may-blank id-t2_8bunp">@Model.Name</a>
                            <span class="userattrs"></span> to <a href="/v/@Model.Subverse" class="subreddit hover may-blank">@Model.Subverse</a>
                        </p>
                    }
                }
                
            <ul class="flat-list buttons">
                <li class="first">
                    @{
        if (Model.Comments.Count > 0)
        {
            <a href="@commentsUrl" class="comments may-blank">@Model.Comments.Count comments</a>
        }
        else
        {
            <a href="@commentsUrl" class="comments may-blank">discuss</a>
        }
                    }
                </li>
                <li class="share">
                    <span class="share-button toggle" style="">
                        <a class="option active login-required" href="#" tabindex="100">share</a>
                        <a class="option " href="#">cancel</a>
                    </span>
                </li>
            </ul>
            <div class="expando" style="display: none">
                <span class="error">loading...</span>
            </div>
        </div>
    }    

}
