@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model Whoaverse.Models.Message

@using Whoaverse.Utils;
@using Whoaverse.Models;

@{
    //find the comment based on the received comment id via ViewData
    int commentId = Convert.ToInt32(ViewData["CommentId"]);
    var singleComment = from c in Model.Comments where c.Id == commentId select c;
    var commentModel = singleComment.FirstOrDefault();

    DateTime submissionDate = commentModel.Date;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);
    string opName = Model.Name;
    string commentAuthor = commentModel.Name;
    string authorClass = "";
    string authorSpanClass = "";

    //apply class style if OP is the Comment Author
    opName = opName.Trim();
    commentAuthor = commentAuthor.Trim();

    if (opName == commentAuthor)
    {
        authorClass = "submitter";
        authorSpanClass = "[<a class=\"submitter\" title=\"submitter\" href=\"/comments/" + @commentModel.MessageId + "/\">S</a>]";
    }
}

<!-- 1 submission comment -->
<p class="parent">
    <a name="cgjenno"></a>
</p>

@{
    if (commentModel.Name != "deleted")
    {
        @Html.Partial("_votingIconsComment", Model, new ViewDataDictionary { { "CommentId", commentId } })
    }
}

<div class="entry unvoted">
    <div class="collapsed" style='display:none'>
        <a href="#" class="expand" onclick="return showcomment(@commentId)">[+]</a>
        
        @{
            if (commentModel.Name != "deleted")
            {
                <a href="/user/@commentModel.Name" class="author gray @authorClass may-blank id-t2_@commentId">@commentModel.Name</a>
                <span class="userattrs">@Html.Raw(authorSpanClass)</span>
                <span class="score dislikes">@commentModel.Dislikes points</span>
                <span class="score unvoted">@commentModel.Likes point</span>
                <span class="score likes">@commentModel.Likes points</span>
            }
            else
            {
                <span class="userattrs">[deleted]</span>
            }
        }

        <time title="@commentModel.Date" datetime="@commentModel.Date">@postAge</time>&#32;ago &nbsp;<a href="#" class="expand" onclick="return showcomment(@commentId)">(show children)</a>
    </div>
    <div class="noncollapsed" id="@commentId">
        <p class="tagline">
            <a href="#" class="expand" onclick="return hidecomment(@commentId)">[&ndash;]</a>

            @{
                if (commentModel.Name != "deleted")
                {
                    int commentScore = commentModel.Likes - commentModel.Dislikes;
                        
                    <a href="/user/@commentModel.Name" class="author @authorClass may-blank id-t2_@commentId">@commentModel.Name</a>
                    <span class="userattrs">@Html.Raw(authorSpanClass)</span>
                    <span class="score dislikes">@commentModel.Dislikes points</span>
                    <span class="score unvoted">@commentScore points</span>
                    <span class="score likes">@commentModel.Likes points</span>
                    <span class="commentvotesratio">&lt;<span class="post_upvotes">+@commentModel.Likes</span>|<span class="post_downvotes">&minus;@commentModel.Dislikes</span>&gt;</span>
                }
                else
                {
                    <span class="userattrs">[deleted]</span>
                }
            }

            <time title="@commentModel.Date" datetime="@commentModel.Date">@postAge</time>&#32;ago
        </p>

        <form class="usertext" onsubmit="return editcommentsubmit(@commentId)" id="commenteditform-@commentId" action="#">
            @Html.AntiForgeryToken()
            <input id="CommentId" name="CommentId" value="@commentId" type="hidden">

            @{
                if (commentModel.Name != "deleted")
                {
                    <div class="usertext-body may-blank-within">
                        <div class="md">
                            @Html.Raw(@Formatting.FormatMessage(@commentModel.CommentContent))
                        </div>
                    </div>
                }
                else
                {
                    <div class="usertext gray">
                        <div class="md">
                            [@commentModel.CommentContent]
                        </div>
                    </div>
                }
            }

            <div class="usertext-edit" style="width: 775px; display: none;">
                <div>
                    <textarea aria-invalid="false" class="form-control valid" cols="20" id="CommentContent" name="CommentContent" rows="2" data-rule-required="true" data-msg-required="The comment can not be empty.">@commentModel.CommentContent</textarea>
                    <span data-valmsg-replace="false" data-valmsg-for="CommentContent" class="field-validation-error"></span>
                    <div class="usertext-buttons">
                        <input value="Save" class="btn-whoaverse-paging" type="submit">
                        <button class="btn-whoaverse-paging" onclick="removeeditform(@commentId)" type="button">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
        <ul class="flat-list buttons">
            @{
                if (commentModel.Name != "deleted")
                {
                    <li class="first">
                        <a href="/comments/@commentModel.MessageId" class="bylink" rel="nofollow">permalink</a>
                    </li>
                }
            }

            @{
                if (User.Identity.IsAuthenticated)
                {                   
                    if (User.Identity.Name == commentAuthor)
                    {
                        <li>
                            <a class="" href="javascript:void(0)" onclick="return edit(@commentId, @commentModel.MessageId)">edit</a>
                        </li>
                        <li>
                            <form class="toggle del-button " action="#" method="get">
                                <input class="active" name="executed" value="deleted" type="hidden">
                                <span class="option main active">
                                    <a href="javascript:void(0)" class="togglebutton" onclick="return toggle(@commentId)">delete</a>
                                </span>
                                <span class="option error">
                                    are you sure?  <a href="javascript:void(0)" class="yes" onclick="deletecomment(@commentId)">yes</a> / <a href="javascript:void(0)" class="no" onclick="return toggleback(@commentId)">no</a>
                                </span>
                            </form>
                        </li>
                    }
                    else if (commentAuthor != "deleted" && Whoaverse.Utils.User.IsUserSubverseAdmin(User.Identity.Name, commentModel.Message.Subverse))
                    {
                        <li>
                            <a class="" href="javascript:void(0)" onclick="return edit(@commentId, @commentModel.MessageId)">edit</a>
                        </li>
                        <li>
                            <form class="toggle del-button " action="#" method="get">
                                <input class="active" name="executed" value="deleted" type="hidden">
                                <span class="option main active">
                                    <a href="javascript:void(0)" class="togglebutton" onclick="return toggle(@commentId)">delete</a>
                                </span>
                                <span class="option error">
                                    are you sure?  <a href="javascript:void(0)" class="yes" onclick="deletecomment(@commentId)">yes</a> / <a href="javascript:void(0)" class="no" onclick="return toggleback(@commentId)">no</a>
                                </span>
                            </form>
                        </li>
                    }


                    if (commentModel.Name != "deleted")
                    {
                        <li>
                            <a class="" href="javascript:void(0)" onclick="return reply(@commentId, @commentModel.MessageId)">reply</a>
                        </li>
                    }


                }
            }

        </ul>



    </div>
</div>

@{
    //look for children comments to this root comment and display them
    var childComments = from c in Model.Comments where c.ParentId == commentId select c;
    foreach (var childComment in childComments)
    {
        <div class="child id-@childComment.Id comment " data-fullname="t1_cgkmgmm" data-ups="1" data-downs="0">
            @Html.Partial("_SubmissionComment", Model, new ViewDataDictionary { { "CommentId", childComment.Id } })
        </div>
    }
}
