@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@using Whoaverse.Utils;

@{
    string userName = ViewBag.userid;
    DateTime userRegistrationDateTime = Whoaverse.Utils.User.GetUserRegistrationDateTime(userName);

    <style>
        .titlebox {
            width: 251px;
        }
    </style>

    <div class="side">
        <div class="titlebox footer rounded">
            <h2 class="hover whoaversename">
                Profile for @userName
            </h2>
            <div class="bottom">
                <p class="h6">
                    Member for: <b>@Submissions.CalcSubmissionAge(userRegistrationDateTime)</b><br />
                    <span class="bottommenu">(joined on: @Whoaverse.Utils.User.GetUserRegistrationDateTime(userName).ToShortDateString())</span>
                </p>
            </div>

            <div class="titlebox footer rounded">
                <h2 class="hover whoaversename">
                    Connect with @userName
                </h2>
                <div class="bottom">
                    <p class="h6">
                        <a href="/messaging/compose?recipient=@userName">Send @userName a private message.</a>
                    </p>
                </div>
            </div>

            <div class="titlebox footer rounded">
                <h2 class="hover whoaversename">
                    Achievements and contributions
                </h2>
                <div class="bottom">
                    <p class="h6">
                        Submission contribution points: <b>@Karma.LinkKarma(userName)</b>
                    </p>
                    <p class="h6">
                        Comment contribution points: <b>@Karma.CommentKarma(userName)</b>
                    </p>
                </div>

                <div class="titlebox footer rounded">
                    <h2 class="hover whoaversename">
                        Badges and trophies
                    </h2>
                    <div class="bottom">

                        @if (Whoaverse.Utils.User.UserBadges(userName).Count > 0)
                        {
                            foreach (var badge in @Whoaverse.Utils.User.UserBadges(userName))
                            {
                                if (badge.Badge.BadgeGraphics != null)
                                {
                                    <img style="cursor: help" src="~/Graphics/Badges/@badge.Badge.BadgeGraphics" data-toggle="popover" data-trigger="focus" title="@badge.Badge.BadgeName" data-content="@badge.Badge.BadgeTitle, awarded on: @badge.Awarded.ToShortDateString()" />
                                }
                                else
                                {
                                    <p class="sidebar-badge" title="@badge.Badge.BadgeTitle, awarded on: @badge.Awarded.ToShortDateString()">@badge.Badge.BadgeName</p>
                                }
                            }
                            if (userRegistrationDateTime < new DateTime(2014, 08, 1))
                            {
                                <img style="cursor: help" src="~/Graphics/Badges/alpha_user.png" data-toggle="popover" data-trigger="focus" title="Early adopter" data-content="Alpha tester, joined WhoaVerse during its alpha testing phase" />
                            }
                        }
                        else if (userRegistrationDateTime < new DateTime(2014, 08, 1))
                        {
                            <img src="~/Graphics/Badges/alpha_user.png" title="Alpha tester, joined WhoaVerse during its alpha testing phase" />
                        }
                        else
                        {
                            <p>This user currently has no badges.</p>
                        }

                    </div>
                </div>
            </div>

            @Html.Action("SubversesUserModerates", "Home", new { userName = userName })

        </div>
    </div>

}
