@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model PagedList.IPagedList<Voat.Data.Models.PrivateMessage>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Inbox - Unread";
}

<style>
    .p {
        font-size: 35px;
    }
</style>

@Html.AntiForgeryToken()

<div id="container">
    <h1>Unread Private Messages</h1>
    <a href="/messaging/commentreplies/" class="btn-whoaverse-paging">Comment Replies / User Mentions [@ViewBag.UnreadCommentReplies / @ViewBag.CommentRepliesCount]</a>
    <a href="/messaging/postreplies/" class="btn-whoaverse-paging">Post Replies [@ViewBag.UnreadPostReplies / @ViewBag.PostRepliesCount]</a>
    <div id="about-main" class="" role="main">
        <div class="md single-notification">
            @if (Model.Count > 0)
            {
                <p>Displaying newest @Model.Count unread message(s). Your have @ViewBag.UnreadCount unread messages and a total of @ViewBag.InboxCount message(s).</p>

                <p align="right">
                    <a id="markAllPrivateMessageAsRead" href="javascript:void(0)" onclick="return markAsRead(this, 'privateMessage', null, true)" class="btn-whoaverse-paging">Mark all as read</a>
                </p>
                <hr />
                <div id="messageContainer">
                    @foreach (var message in Model)
                    {
                        var readStatusClass = message.IsUnread ? "unreadInboxItem" : null;

                        <div id="messageContainer-@message.ID" class="entry comment">
                            <div class="panel panel-default">
                                <div class="panel panel-heading">
                                    Sender: <a href="/u/@message.Sender">@message.Sender</a> | Sent: @Age.ToRelative(message.CreationDate) ago on @message.CreationDate
                                </div>
                                <div class="panel panel-heading-messagetitle">
                                    <b>@message.Subject</b>
                                </div>

                                <div class="panel-message-body @readStatusClass">
                                    @Html.Raw(Formatting.FormatMessage(message.Body))
                                    <textarea id="sourceDisplay" readonly="" class="commenttextarea" style="display: none;">@Html.Raw(message.Body)</textarea>
                                    <ul class="flat-list buttons">
                                        <li>
                                            <a id="replyPrivateMessage" href="javascript:void(0)" onclick="return replyprivatemessage(@message.ID, '@message.Sender', '@Html.Encode(@message.Subject)')">reply</a>
                                        </li>
                                        <li>
                                            <a id="sourcePrivateMessage" href="javascript:void(0)" onclick="toggleSource(this)">source</a>
                                        </li>
                                        <li>
                                            <a id="deletePrivateMessage" href="javascript:void(0)" onclick="return deletePrivateMessage(this, @message.ID)">delete</a>
                                        </li>
                                        @if (message.IsUnread)
                                        {
                                            // status: true = unread, false = read
                                            <li>
                                                <a id="markPrivateMessageAsRead" href="javascript:void(0)" onclick="return markAsRead(this, 'privateMessage', @message.ID, false)">mark as read</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>Your inbox is empty. I may be just a server with limited intelligence, but I am not quite sure how to feel about this.</p>
            }
        </div>
    </div>
    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("InboxPrivateMessagesUnread", new { page }), VoatPagerOptions.PagedListRenderOptions())
    }
</div>
