@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model PagedList.IPagedList<Voat.Data.Models.PrivateMessage>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Sent";
}

<style>
    .p {
        font-size: 35px;
    }
</style>

<div id="container">
    <div id="about-main" role="main">
        <div class="md single-notification">
            @if (Model.Count > 0)
            {
                <p>Displaying latest @Model.Count message(s) sent messages. Your Sent box contains a total of @ViewBag.OutboxCount message(s).</p>
                <hr />

                foreach (var message in Model)
                {
                    <div id="messageContainer-@message.ID">
                        <div class="panel panel-default">
                            <div class="panel panel-heading">
                                Recipient: <a href="/u/@message.Recipient">@message.Recipient</a> | Sent: @Age.ToRelative(message.CreationDate) ago on @message.CreationDate
                            </div>
                            <div class="panel panel-heading-messagetitle">
                                <b>@message.Subject</b>
                            </div>

                            <div class="panel-message-body">
                                @Html.Raw(Formatting.FormatMessage(message.Body))
                            </div>
                        </div>

                        <ul class="flat-list buttons">
                            <li>
                                <a class="btn-whoaverse-paging" href="javascript:void(0)" onclick="return deletePrivateMessageFromSent(this, @message.ID)">Delete and revoke</a>
                            </li>
                        </ul>
                        <br /><br />
                    </div>
                }
            }
            else
            {
                <p>Your Sent box is empty. I may be just a server with limited intelligence, but I am not quite sure how to feel about this.</p>
            }

        </div>
    </div>
    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("Sent", new { page }), VoatPagerOptions.PagedListRenderOptions())
    }
</div>
