@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Models.Message

@{
    var commentCount = Model.Comments.Count(c => c.Name != "deleted");
    bool anonymizedSubverse = false;

    string routeActiveSubverse = (string)ViewContext.RouteData.Values["subversetoshow"];
    string commentsUrl = "/v/" + Model.Subverse + "/comments/" + Model.Id;

    DateTime submissionDate = Model.Date;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);

    if (Model.Subverses != null)
    {
        anonymizedSubverse = Model.Subverses.anonymized_mode;
    }

    //type 1 = message
    if (Model.Type == 1)
    {
        <div class="entry unvoted">
            <p class="title">
                @if (Model.FlairLabel != null && Model.FlairCss != null)
                {
                    if (routeActiveSubverse != string.Empty && routeActiveSubverse != "all" && routeActiveSubverse != null)
                    {   
                        <span class="flair @Model.FlairCss" title="@Model.FlairLabel">@Model.FlairLabel</span>
                    }                    
                }                
                <a class="title may-blank " href="@commentsUrl" tabindex="1" title="@Model.Title">@Model.Title</a>
                <span class="domain">(<a href="/v/@Model.Subverse">self.@Model.Subverse</a>)</span>
            </p>

            @if (Model.Name == "deleted")
            {
                <p class="tagline">
                    submitted <time title="@Model.Date" datetime="@Model.Date">@postAge</time> ago by
                    <span class="userattrs">[deleted]</span> to <a href="/v/@Model.Subverse" class="subverse hover may-blank">@Model.Subverse</a>
                </p>
            }
            else
            {

                if (!String.IsNullOrEmpty(Model.MessageContent)) { 
                    <div class="expando-button collapsed selftext" onclick="loadSelfText(this, @Model.Id)"></div>
                    @*<div class="expando" style="display: none;" id="@Model.Id"></div>*@
                }
                if (Model.Anonymized || anonymizedSubverse)
                {
                    <p class="tagline">
                        submitted <time title="@Model.Date" datetime="@Model.Date">@postAge</time> ago by <a href="#" class="author may-blank">@Model.Id</a>
                        <span class="userattrs"></span> to <a href="/v/@Model.Subverse" class="subverse hover may-blank">@Model.Subverse</a>
                        <span class="commentvotesratio">(<span class="post_upvotes">+@Model.Likes</span>|<span class="post_downvotes">-@Model.Dislikes</span>)</span>
                    </p>
                }
                else
                {
                    <p class="tagline">
                        submitted <time title="@Model.Date" datetime="@Model.Date">@postAge</time> ago by <a href="/user/@Model.Name" class="author may-blank">@Model.Name</a>
                        <span class="userattrs"></span> to <a href="/v/@Model.Subverse" class="subverse hover may-blank">@Model.Subverse</a>
                        <span class="commentvotesratio">(<span class="post_upvotes">+@Model.Likes</span>|<span class="post_downvotes">-@Model.Dislikes</span>)</span>
                    </p>
                }
            }

            <ul class="flat-list buttons">
                <li class="first">
                    @if (commentCount > 0)
                    {
                        <a href="@commentsUrl" class="comments may-blank">@commentCount comments</a>
                    }
                    else
                    {
                        <a href="@commentsUrl" class="comments may-blank">discuss</a>
                    }

                </li>
                <li class="share">
                    <span class="share-button toggle" style="">
                        <a class="option active login-required" href="#" tabindex="100">share</a>
                        <a class="option " href="#">cancel</a>
                    </span>
                </li>
            </ul>
            <div class="expando" style="display: none">
                <form style="" novalidate="novalidate" class="usertext" action="#">
                    <div class="usertext-body may-blank-within">
                        <div class="md">
                            Please wait...                            
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    }

}
