@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using System.Configuration
@model HandleErrorInfo

@{
    ViewBag.Title = "Ouch!";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    else
    {
        <meta name="description" content="Voat - have your say" />
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    else
    {
        <meta name="keywords" content="voat, voat.co, vote, submit, comment" />
    }

    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:site_name" content="whoaverse" />
    <meta property="og:description" content="@ViewBag.Description" />

    @Styles.Render("~/Content/Light")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/javascript")

    <link rel='shortcut icon' href="/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div id="header" role="banner">
        <div id="sr-header-area">
            <div class="width-clip">
                <div class="sr-list">
                    <ul class="flat-list sr-bar hover">
                        <li>
                            <a href="/subverses/subscribed">my subverses</a>
                        </li>
                        <li class="">
                            <span class="separator">-</span><a href="/">front</a>
                        </li>
                        <li>
                            <span class="separator">-</span><a href="/v/all">all</a>
                        </li>
                        <li>
                            <span class="separator">-</span><a href="/random" class="random">random</a>
                        </li>
                    </ul>
                </div><a href="/subverses" id="sr-more-link">more »</a>
            </div>
        </div>

        <div id="header-container">
            <div id="header-banner">
                <a title="@Settings.SiteSlogan" href="/" id="header-img-a">
                    <img id="header-img" src="@Settings.SiteLogo" alt="@Settings.SiteName" height="31" width="112">
                </a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @* Must be logged in Modal *@
    <div class="modal fade" id="mustbeloggedinModal" tabindex="-1" role="dialog" aria-labelledby="mustbeloggedinlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mustbeloggedinlabel">Login or register</h4>
                </div>
                <div class="modal-body">
                    You can login or register by clicking the buttons below.
                    Registering is free and <strong>all you need is a username and password</strong>. We never ask you for your e-mail.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" href="~/account/register" role="button">Register</a>
                    <a class="btn btn-default" href="~/account/login?returnurl=@Url.RouteUrl(ViewContext.RouteData.Values)" role="button">Log in</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @* End Must be logged in Modal *@

    <div class="content error-page" role="main">
        <div class="container">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Ouch!</h3>
                </div>
                <div class="panel-body centered">
                    <h1>Voat is under heavy load. Please try again in a few minutes.</h1>
                </div>
            </div>
            <p class="text-center">
                <a href="~/"><img src="~/Graphics/404.png" class="img-responsive center-block" alt="Whoopsie Daisy!" /></a>
            </p>
            <p class="panel-footer centered">
                Pushing F5 repeatedly might help. Or not.
            </p>
        </div>
    </div>
    @Html.Partial("_Footer")
    <br />
    @if (HttpContext.Current.Request.Cookies["NotFirstTime"] == null)
    {
        HttpCookie hc = new HttpCookie("NotFirstTime", "1");
        hc.Expires = DateTime.Now.AddYears(1);
        HttpContext.Current.Response.Cookies.Add(hc);

        <div class="alert eppnotice alert-dismissible" role="alert">
            <button type="button" class="btn-whoaverse-medium" data-dismiss="alert" aria-hidden="true">&times;</button>
            Cookies help us deliver our services. By using our services, you agree to our use of cookies.
        </div>
    }
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
