@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.Comment

<div class="thread id-@Model.ID odd comment" onclick="" data-fullname="" data-ups="" data-downs="">

    @{
        //type 2 = urls, model.Content = url, model.linkdescription = link description
        //type 1 = message
        if (Model.Submission.Type == 2)
        {
            if (!Model.Submission.IsDeleted)
            {
                <p class="parent">
                    <a href="~/v/@Model.Submission.Subverse/comments/@Model.SubmissionID" class="title" rel="nofollow">@Model.Submission.LinkDescription</a> by
                    <a href="~/user/@Model.Submission.UserName" class="author may-blank">@Model.Submission.UserName</a> in <a href="~/v/@Model.Submission.Subverse" class="subverse hover">@Model.Submission.Subverse</a>
                </p>
            }
            else
            {
                <p class="parent">
                    <a href="~/v/@Model.Submission.Subverse/comments/@Model.SubmissionID" class="title" rel="nofollow">@Model.Submission.LinkDescription</a> by
                    <span class="userattrs">[deleted]</span>in <a href="~/v/@Model.Submission.Subverse" class="subverse hover">@Model.Submission.Subverse</a>
                </p>
            }
        }
        else
        {
            if (!Model.Submission.IsDeleted)
            {
                <p class="parent">
                    <a href="~/v/@Model.Submission.Subverse/comments/@Model.SubmissionID" class="title" rel="nofollow">@Model.Submission.Title</a> by
                    <a href="~/user/@Model.Submission.UserName" class="author may-blank">@Model.Submission.UserName</a>
                    in <a href="~/v/@Model.Submission.Subverse" class="subverse hover">@Model.Submission.Subverse</a>
                </p>
            }
            else
            {
                <p class="parent">
                    <a href="~/v/@Model.Submission.Subverse/comments/@Model.SubmissionID" class="title" rel="nofollow">@Model.Submission.Title</a> by
                    <span class="userattrs">[deleted]</span>
                    in <a href="~/v/@Model.Submission.Subverse" class="subverse hover">@Model.Submission.Subverse</a>
                </p>
            }
        }
    }


    @{
        string postAge = Submissions.CalcSubmissionAge(Model.CreationDate);
        int commentScore = (int)(Model.UpCount - Model.DownCount);

        @*
        area for voting icons
        icons removed due to community request http://voat.co/v/ideasforvoat/comments/8212
        *@

        <div class="entry unvoted">
            <div class="collapsed" style="display: none">
                <a href="#" class="expand" onclick=" return showcomment(this) ">[+]</a><a href="~/user/@Model.UserName" class="author gray submitter may-blank">@Model.UserName</a>
                @if (Model.Submission.UserName == Model.UserName)
                {
                    <span class="userattrs">[<a class="submitter" title="submitter" href="~/v/@Model.Submission.Subverse/comments/@Model.SubmissionID">S</a>]</span>
                }
                <span class="score dislikes">@Model.DownCount points</span><span class="score unvoted">@commentScore points</span>
                <span class="score likes">@Model.UpCount points</span>
                <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time> ago &nbsp;<a href="#" class="expand" onclick=" return showcomment(this) ">(0 children)</a>
            </div>
            <div class="noncollapsed">
                <p class="tagline">
                    <a href="#" class="expand" onclick=" return hidecomment(this) ">[–]</a><a href="~/user/@Model.UserName" class="author submitter may-blank">@Model.UserName</a>
                    @if (Model.Submission.UserName == Model.UserName)
                    {
                        <span class="userattrs">[<a class="submitter" title="submitter" href="~/v/@Model.Submission.Subverse/comments/@Model.SubmissionID">S</a>]</span>
                    }
                    <span class="score dislikes">@Model.DownCount points</span>
                    <span class="score unvoted">@commentScore points</span>
                    <span class="score likes">@Model.UpCount points</span>
                    <span class="commentvotesratio">(<span class="post_upvotes">+@Model.UpCount</span>|<span class="post_downvotes">-@Model.DownCount</span>)</span>
                    <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time> ago
                </p>
                <form action="#" class="usertext" onsubmit=" return post_form(this, 'editusertext') " id="form-t1_cgpb6dh3f5">
                    <input name="submission-id" value="xxxx" type="hidden">
                    <div class="usertext-body may-blank-within">
                        <div class="md">
                            <p>
                                @* Skip Regex intense processing if we've pre-processed *@
                                @if (!String.IsNullOrEmpty(Model.FormattedContent))
                                {
                                    @Html.Raw(Model.FormattedContent)
                                }
                                else
                                {
                                    @Html.Raw(@Formatting.FormatMessage(Model.Content))
                                }
                            </p>
                        </div>
                    </div>
                </form>
                <ul class="flat-list buttons">
                    <li class="first">
                        <a href="/v/@Model.Submission.Subverse/comments/@Model.SubmissionID/@Model.ID" class="bylink" rel="nofollow">permalink</a>
                    </li>
                    <li class="first">
                        <a href="/v/@Model.Submission.Subverse/comments/@Model.SubmissionID/@Model.ParentID/@Model.ID#@Model.ID" class="bylink" rel="nofollow">context</a>
                    </li>
                    <li class="first">
                        <a href="~/v/@Model.Submission.Subverse/comments/@Model.SubmissionID" class="may-blank">full comments (@Model.Submission.Comments.Count)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="child"></div>
        <div class="clearleft">
            @*IE6fix*@
        </div>
    }
</div>
