@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.Submission
@using Voat.Configuration


@* 1 user link submission with details without comments *@
@{
    string ahrefTarget = "_self";

    if (User.Identity.IsAuthenticated)
    {
        if (UserHelper.LinksInNewWindow(User.Identity.Name))
        {
            ahrefTarget = "_blank";
        }
    }  
    
    var commentCount = Model.Comments.Count(c => !c.IsDeleted);
        
    string postAge = Submissions.CalcSubmissionAge(Model.CreationDate);
    string commentsUrl = "/v/" + Model.Subverse + "/comments/" + Model.ID;

    bool ratedAdult = false;
    if (Model.Subverse1 != null)
    {
        ratedAdult = Model.Subverse1.IsAdult;
    }

    //type 2 = urls, model.Content = url, model.linkdescription = link description
    if (Model.Type == 2)
    {
        string submissionDomain = UrlUtility.GetDomainFromUri(Model.Content);
        int submissionScore = (int)(Model.UpCount - Model.DownCount);

        <div class="submission odd link" data-fullname="" data-ups="" data-downs="">
            <p class="parent"></p>

            <div class="midcol unvoted">
                <div class="score dislikes">@Model.DownCount</div>
                <div class="submissionscore">@submissionScore</div>
                <div class="score likes">@Model.UpCount</div>
            </div>

            @if (Model.Thumbnail != null)
            {
                if (Model.LinkDescription.ToLower().Contains("nsfw") || ratedAdult)
                {
                    <a class="thumbnail nsfw may-blank " href="@Model.Content" rel="nofollow" target="@ahrefTarget"></a>
                }
                else
                {
                    <a class="thumbnail may-blank" href="@Model.Content" target="@ahrefTarget">
                        @if (Settings.UseContentDeliveryNetwork)
                        {
                            <img src="https://cdn.voat.co/thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                        else
                        {
                            <img src="~/Thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                    </a>
                }
            }

            <div class="entry unvoted">
                <p class="title">
                    <a class="title may-blank " href="@Model.Content" tabindex="1" rel="nofollow" target="@ahrefTarget">@Model.LinkDescription</a>
                    <span class="domain">(<a href="/domains/@submissionDomain/">@submissionDomain</a>)</span>
                </p>
                <p class="tagline">
                    submitted
                    <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time> ago by <a href="~/user/@Model.UserName" class="author may-blank">@Model.UserName</a>
                    <span class="score unvoted">@submissionScore points</span>
                    <span class="commentvotesratio">(<span class="post_upvotes">+@Model.UpCount</span>|<span class="post_downvotes">-@Model.DownCount</span>)</span>
                    <span class="userattrs"></span> to <a href="/v/@Model.Subverse" class="subverse hover may-blank">@Model.Subverse</a>
                </p>
                <ul class="flat-list buttons">
                    <li class="first">
                        <a href="@commentsUrl" class="comments may-blank">@commentCount comments</a>
                    </li>
                </ul>
                <div class="expando" style="display: none">
                    <span class="error">loading...</span>
                </div>
            </div>
            <div class="child"></div>
            <div class="clearleft">
                @*IE6fix*@
            </div>
        </div>
    }

}
