@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.FeaturedSubverse

@{
    DateTime submissionDate = Model.CreationDate;
    string postAge = Voat.Common.Age.ToRelative(submissionDate);

    <div class="alert-featuredsub">
        <div class="submission link stickied">
            <div class="entry unvoted">
                <p class="title">
                    <span class="featuredsub">featured sub</span>
                    <a class="title may-blank" href="/v/@Model.Subverse" tabindex="1" title="@Model.Subverse1.Description">@Model.Subverse1.Title: @Model.Subverse1.Description</a>
                </p>

                <p class="tagline">
                    a community for @Voat.Common.Age.ToRelative(Model.Subverse1.CreationDate), featured <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time> ago by <a href="/user/@Model.CreatedBy" class="author may-blank">@Model.CreatedBy</a>
                </p>
            </div>
        </div>
    </div>
}
