@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Models.ViewModels.SubmissionListViewModel

@{
    ViewBag.Title = Model.Title;
    string urlaction = Model.Subverse == AGGREGATE_SUBVERSE.DEFAULT || Model.Subverse == AGGREGATE_SUBVERSE.FRONT ? "FrontIndex" : "SubverseIndex";

    //if (Model.PreviewMode)
    //{
    //    Layout = null;
    //}
}

@section PageHeader {
    @if (Model.IsActualSubverse)
    {
        @Html.Partial("_SubverseStylesheetLink", Model.Subverse, new ViewDataDictionary())
    }
}

<style type="text/css">
    body > .content .link .rank {
        width: 3.2ex;
    }
</style>

<div id="container">
    @if (Model.IsActualSubverse)
    {
        @Html.Action("SidebarForSelectedSubverse", "Subverses", new { selectedSubverse = Model.Subverse })
    }
    else
    {
        @Html.Partial("~/Views/Shared/Sidebars/_SidebarFrontpage.cshtml")
    }

    <div class="content" role="main">
        @if (Model.Sort == Voat.Domain.Models.SortAlgorithm.Top)
        {
            <div id="sortingThingy" class="sorting-thingy">
                @Html.RouteLink("day", urlaction, new { subverse = Model.Subverse, sort = (Model.Sort == null ? "" : Model.Sort.ToString().ToLower()), time = "day" }) | 
                @Html.RouteLink("week", urlaction, new {subverse = Model.Subverse, sort = (Model.Sort == null ? "" : Model.Sort.ToString().ToLower()), time = "week" }) | 
                @Html.RouteLink("month", urlaction, new { subverse = Model.Subverse, sort = (Model.Sort == null ? "" : Model.Sort.ToString().ToLower()), time = "month"}) |
                @Html.RouteLink("year", urlaction, new { subverse = Model.Subverse, sort = (Model.Sort == null ? "" : Model.Sort.ToString().ToLower()), time = "year"}) |
                @Html.RouteLink("all", urlaction, new { subverse = Model.Subverse, sort = (Model.Sort == null ? "" : Model.Sort.ToString().ToLower()), time = "all"})
            </div>
        }
        <div class="sitetable linklisting">
            @if (Model.IsActualSubverse)
            {
                @Html.Action("StickiedSubmission", "Subverses", new { subverseName = Model.Subverse })
            }
            else
            {
                @Html.Partial("~/Views/Welcome/_FirstTimeVisitorWelcome.cshtml")
                @Html.Action("FeaturedSub", "Home")
                @Html.Action("StickiedSubmission", "Home")
            }


            @{
                int currentPageNumber = Model.Submissions.PageIndex;
                int counterCont = (currentPageNumber) * 25;

                int counter = counterCont + 1;
                string submissionClass = "";
            }

            @if (Model.Submissions.Count <= 0)
            {
                Html.RenderPartial("_DefaultMessage", new ViewDataDictionary() {{"selectedSubverse", Model.Subverse}});
            }

            @foreach (var submission in Model.Submissions)
            {
                //type 2 = link
                //type 1 = message
                if (submission.Type == 1)
                {
                    submissionClass = "self";
                }
                else
                {
                    submissionClass = "";
                }

                var classEvenOrOdd = "";
                if (counter % 2 == 0)
                {
                    //is even
                    classEvenOrOdd = "even";
                }
                else
                {
                    //is odd
                    classEvenOrOdd = "odd";
                }

                <div class="submission id-@submission.ID @classEvenOrOdd link @submissionClass" data-fullname="@submission.ID" data-ups="@submission.UpCount" data-downs="@submission.DownCount">
                    <p class="parent"></p>

                    @Html.Partial("_VotingIconsSubmission", submission)
                    @Html.Partial("~/Views/Shared/Submissions/_Submission.cshtml", submission)

                    <div class="child"></div>
                    <div class="clearleft">@*IE6fix*@</div>
                </div>
                counter++;
            }
        </div>

        <div class="pagination-container">
            <ul>
                @if (Model.Submissions.HasPreviousPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("‹ prev", urlaction, new {
                       page = (Model.Submissions.PageIndex - 1),
                       sort = (Model.Sort == null ? "" : Model.Sort.ToString().ToLower()),
                       time = (Model.Span == null ? "" : Model.Span.ToString().ToLower()),
                       frontpage = Request.QueryString["frontpage"]
                   }, new {rel = "prev"})
                    </li>
                }

                @if (Model.Submissions.HasNextPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("next ›", urlaction, new {
                       page = (Model.Submissions.PageIndex + 1),
                       sort = (Model.Sort == null ? "" : Model.Sort.ToString().ToLower()),
                       time = (Model.Span == null ? "" : Model.Span.ToString().ToLower()),
                       frontpage = Request.QueryString["frontpage"]
                   }, new { rel = "next" })
                    </li>
                }
            </ul>
        </div>
        @if (!Model.IsActualSubverse)
        {
            <div>
                <a href="/random">try a random subverse</a> or <a href="/randomnsfw">a NSFW random subverse</a>
            </div>
        }
    </div>
</div>
