@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Models.ViewModels.SetDetailsViewModel

@{
    string subverseAge = Submissions.CalcSubmissionAge(Model.CreationDate);
}

<div id="set-@Model.Id">
    <div class="midcol">
        @if (User.Identity.IsAuthenticated)
        {
            if (UserHelper.IsUserSubscribedToSet(User.Identity.Name, Model.Name))
            {
                <button type="button" onclick="return unsubscribeFromSet(this, '@Model.Id')" class="btn-whoaverse-paging btn-xs btn-default">unsubscribe</button>
            }
            else
            {
                <button type="button" onclick="return subscribeToSet(this, '@Model.Id')" class="btn-whoaverse-paging btn-xs btn-default">subscribe</button>
            }
            if (UserHelper.IsUserSetOwner(User.Identity.Name, Model.Id))
            {
                <div class="btn-whoaverse-paging"><a href="/set/@Model.Id/edit" rel="next">modify</a></div>
                <button type="button" onclick="return deleteSet(this, '@Model.Id')" class="btn-whoaverse-paging btn-xs btn-default">delete</button>
            }
        }
        else
        {
            <button type="button" onclick="return mustLogin()" class="btn-whoaverse-paging btn-xs btn-default">subscribe</button>
        }
    </div>

    <div class="entry">
        <p class="titlerow">
            <a href="/set/@Model.Id" class="h4">@Model.Name</a>
        </p>
        <div class="well well-lg subversedescriptionbox">
            <div class="md">
                <p class="subversedescriptionboxcontent">@Model.Description</p>
            </div>
        </div>
        <p class="">
            <span class="">
                <span id="subscribercount" class="number">@Model.Subscribers</span>
                <span class="word">subscribers, created by <a href="/u/@Model.CreatedBy">@Model.CreatedBy</a>. Set is @subverseAge old.</span>
                @if (Model.SubversesList.Count > 0)
                {
                    <span>
                        The set consists of following subverses:
                        @foreach (var subverse in Model.SubversesList)
                        {
                            <a href="/v/@subverse.Subverse">@subverse.Subverse</a>
                        }
                    </span>
                }
                else
                {
                    <span>
                        You did not add any subverses to this set.
                    </span>
                }
            </span>
        </p>
    </div>
</div>