@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Models.ViewModels.SingleSetViewModel

<div id="container">
    @{
        @Html.Partial("~/Views/Shared/Sidebars/_SidebarFrontpage.cshtml")
    }
    <div class="content" role="main">

        <div class="sitetable" id="subverselisting">
            <div class="alert-title" id="setName" title="Click to rename" style="cursor: help;" onclick=" changeSetName() ">
                @Model.Name
                <img src="/Graphics/edit.png" alt="RSS feed for this subverse">
            </div>
            <div class="alert-title" id="newSetName" style="display: none">
                <input class="form-control" id="newSetNameEditBox" type="text" value="@Model.Name">
                <button type="button" class="btn-whoaverse-paging btn-xs btn-default" onclick=" return saveSetTitle(this, '@Model.Id' ) ">Save</button>
                <button type="button" class="btn-whoaverse-paging btn-xs btn-default" onclick=" return cancelSetTitleChange() ">Cancel</button>
            </div>

            <div class="userstats">
                <div class="userstats-heading-1">Set information</div>
                <div class="userstats-body">
                    <p>Created on: @Model.Created, Subscribers: @Model.Subscribers</p>
                    <p>Set description: @Model.Description</p>
                </div>
            </div>

            @foreach (var subverse in Model.SubversesList)
            {
                <div id="subverse-@subverse.Subverse">
                    <div class="midcol">
                        <button type="button" class="btn-whoaverse-paging btn-xs btn-default" onclick="return removeSubFromSet(this, '@Model.Id', '@subverse.Subverse')">remove</button>
                    </div>
                    <div class="entry">
                        <p class="titlerow">
                            <a href="/v/@subverse.Subverse" class="h4">@subverse.Subverse1.Title: @subverse.Subverse</a>
                        </p>

                        <div class="well well-lg subversedescriptionbox">
                            @subverse.Subverse1.Description
                        </div>
                    </div>
                </div>
            }

        </div>
        <div id="addnewsubversetosetarea">
            <div class="alert-h2">
                Add subverses to this set
            </div>
            @Html.TextBox("Subverse", null, new { @class = "form-control ui-autocomplete-input", @Value = ViewBag.selectedSubverse, id = "Subverse", @placeholder = "Start typing to get suggestions" })
            <span><strong>Example:</strong> news, sports, books</span>
            <p id="status" class="red" style="display:none"></p>
            <div class="">
                <button type="button" class="btn-whoaverse-paging btn-xs btn-default" onclick="return addSubToSet(this, '@Model.Id')">Add this subverse to set</button>
            </div>
        </div>
    </div>
</div>
