@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model PaginatedList<Voat.Data.Models.SubmissionRemovalLog>

@{
    ViewBag.Title = "Submission Removal Log";
    string submissionClass = "";
}

<div id="container">
    <div class="side">
        <div class="spacersection spacer">
            @*<div class="alert-h1">
                @ViewBag.Title
            </div>*@
           @Html.Partial("_ModLogSidebarLinks", (string)ViewBag.SelectedSubverse)
        </div>
    </div>

    <div class="content" role="main">
        <div class="sitetable linklisting">
            <div class="alert alert-info">
                <p>Showing removed submissions by moderators for subverse: <a href="/v/@ViewBag.SelectedSubverse">@ViewBag.SelectedSubverse</a></p>
            </div>

            @if (Model.Count < 1)
            {
                <span>There are no moderator-removed submissions in this subverse.</span>
            }
            else
            {
                <div id="removedSubmissionsList" class="">
                    @foreach (var logItem in Model)
                    {
                        <div id="logItem" class="logItem alert-singlethread">
                            <p>@logItem.Moderator removed @Age.ToRelative(logItem.CreationDate) ago on @logItem.CreationDate</p>
                            <p>"@logItem.Reason"</p>
                        </div>

                        // type 2 = link, type 1 = message
                        submissionClass = logItem.Submission.Type == 1 ? "self" : "";

                        <div class="submission id-@logItem.Submission.ID link @submissionClass" data-fullname="@logItem.Submission.ID" data-ups="@logItem.Submission.UpCount" data-downs="@logItem.Submission.DownCount">
                            <p class="parent"></p>

                            @Html.Partial("_votingIconsSubmission", logItem.Submission)
                            @Html.Partial("~/Views/Shared/Submissions/_Submission.cshtml", logItem.Submission)

                            <div class="child"></div>
                            <div class="clearleft">@*IE6fix*@</div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="pagination-container">
            <ul>
                @if (Model.HasPreviousPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("‹ prev", "modLogSubmission", new { page = (Model.PageIndex - 1) }, new { rel = "prev" })
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("next ›", "modLogSubmission", new { page = (Model.PageIndex + 1) }, new { rel = "next" })
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
