@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Domain.Models.NestedComment

<ul class="flat-list buttons">
    @if (!Model.IsDeleted)
    {
        <li class="first">
            <a href="@VoatPathHelper.CommentsPagePath(Model.Subverse, Model.SubmissionID.Value, Model.ID)" class="bylink" rel="nofollow">permalink</a>
        </li>
    }

    
    @if (ViewBag.ShowContextLink != null && ViewBag.ShowContextLink == true)
    {
        <li>
            <a href="@VoatPathHelper.CommentsPagePath(Model.Subverse, Model.SubmissionID.Value, Model.ID)?context=10" rel="nofollow">context</a>
        </li>
    }
    else if (Model.ParentID != null)
    {
        <li>
            <a onclick="goToParent(event, @Model.ParentID)" href="@VoatPathHelper.CommentsPagePath(Model.Subverse, Model.SubmissionID.Value)/@Model.ParentID" rel="nofollow">parent</a>
        </li>
    }

    @if (User.Identity.IsAuthenticated)
    {
        string loggedInUserName = User.Identity.Name;
        if (!Model.IsDeleted)
        {
            if (Model.IsSaved.HasValue)
            {
                var saveString = Model.IsSaved.Value ? "unsave" : "save";
                <li>
                    <a class="savelink" href="javascript:void(0)" onclick="return toggleSaveComment(@Model.ID);">@saveString</a>
                </li>
            }

            if (!Model.IsOwner)
            {
                <li>
                    <a class="" href="javascript:void(0)" onclick="toggleSource(this);">source</a>
                </li>
                if (ModeratorPermission.HasPermission(User.Identity.Name, Model.Subverse, Voat.Domain.Models.ModeratorAction.DeleteComments, ViewBag.ModeratorList))
                {
                    @Html.Partial("~/Views/Shared/Comments/CommentFlatListButtons/_CFLButtonModeratorDelete.cshtml", Model, new ViewDataDictionary { { "CommentId", Model.ID } })
                }
            }

            // if user is comment author, show edit and delete buttons
            if (Model.IsOwner)
            {
                <li>
                    <a class="" href="javascript:void(0)" onclick="return edit(@Model.ID, @Model.SubmissionID)">edit</a>
                </li>
                @Html.Partial("~/Views/Shared/Comments/CommentFlatListButtons/_CFLButtonDelete.cshtml", null, new ViewDataDictionary { { "CommentId", Model.ID } })

                // if user is comment author but also sub mod or sub admin show distinguish button
                if (ModeratorPermission.HasPermission(User.Identity.Name, Model.Subverse, Voat.Domain.Models.ModeratorAction.DistinguishContent, ViewBag.ModeratorList))
                {
                    var distinquishText = (@Model.IsDistinguished ? "undistinguish" : "distinguish");
                    <li>
                        <a class="" href="javascript:void(0)" onclick="return distinguish(@Model.ID, this)">@distinquishText</a>
                    </li>
                }
            }
            <li>
                <a class="" href="javascript:void(0)" onclick="return reply(@Model.ID, @Model.SubmissionID)">reply</a>
            </li>
            @Html.Partial("~/Views/Shared/Comments/CommentFlatListButtons/_CFLButtonReport.cshtml", null, new ViewDataDictionary { { "CommentId", Model.ID } })
        }
    }
</ul>
