@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.Submission

@{
    int commentCount = Convert.ToInt32(ViewData["commentCount"]);
}

<ul class="flat-list buttons">
    <li class="first">
        <a href="/v/@Model.Subverse/comments/@Model.ID" class="comments may-blank">@commentCount comments</a>
    </li>

    @if (User.Identity.IsAuthenticated)
    {
        if (!Model.IsDeleted)
        {
            <li>
                @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonSave.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID } })
            </li>
        }
        if (User.Identity.Name == Model.UserName)
        {
            <li>
                @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonDelete.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID } })

                @if (!Model.IsDeleted && UserHelper.IsUserSubverseModerator(User.Identity.Name, Model.Subverse))
                {
                    @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonFlair.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID }, { "submissionSubverse", Model.Subverse } })
                    @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonSticky.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID } })
                }
            </li>
        }
        else if (!Model.IsDeleted && UserHelper.IsUserSubverseModerator(User.Identity.Name, Model.Subverse))
        {
            <li>
                @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonDelete.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID } })
                @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonFlair.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID }, { "submissionSubverse", Model.Subverse } })
                @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonSticky.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID } })
            </li>
        }
    }
</ul>