@*
    
    Copyright(c) Voat, Inc.

    This file is part of Voat.

    This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl-3.0.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an
    "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express
    or implied. See the License for the specific language governing
    rights and limitations under the License.

    All Rights Reserved.

*@

@model Voat.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div id="container">
    <div id="about-main" role="main">
        <div class="row nomargin">
            <div class="well">
                <h1>@ViewBag.Title</h1>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2>Please enter your email. We will send you a link which will take you to a page where you can reset your password.</h2>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        </div>
                    </div>
                    if (VoatSettings.Instance.CaptchaEnabled)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">Are you a human?</div>
                            <div class="panel-body">
                                <p>Please solve the reCAPTCHA challenge below:</p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            @{Html.RenderPartial("_Captcha");}
                        </div>  
                    }

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn-whoaverse" value="Email Link" />
                        </div>
                    </div>
                }

                @*@section PageScripts {
                    @Scripts.Render("~/bundles/jqueryval")

                <environment names="Development">
                    <script src="~/lib/jquery/dist/jquery.js"></script>
                </environment>
                <environment names="Staging,Production">
                    <script src="~/js/jquery.val.min.css"></script>
                </environment>
                }*@
            </div>
        </div>
    </div>

</div>
