@model Voat.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div id="container">
    <div id="about-main" role="main">
        <div class="row nomargin">
            <div class="well">
                <h1>@ViewBag.Title</h1>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2>Please enter your email. We will send you a link which will take you to a page where you can reset your password.</h2>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Are you a human?</div>
                        <div class="panel-body">
                            <p>Please solve the reCAPTCHA challenge below:</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        @{Html.RenderPartial("_Captcha");}
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn-whoaverse" value="Email Link" />
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
        </div>
    </div>

</div>
