@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using System.Configuration

@model Voat.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Voater registration";
}

<div id="container">
    <div id="about-main" role="main">

        <div class="row nomargin">
            <div class="well">

                <h1>@ViewBag.Title.</h1>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                { @Html.AntiForgeryToken()
                    <h2>All it takes is a username and password. We don't ask for your e-mail or anything else.</h2><br />
                    <div class="panel panel-default">
                        <div class="panel-heading">How we view your privacy</div>
                        <div class="panel-body">
                            <p>We respect your privacy. We really do.</p>
                            <p>Your personal information is never for sale.</p>
                            <p>We use and disclose information to prevent people from abusing our platform.</p>
                            <p>We never disclose information for any other reason unless required by law.</p>
                            <p>Our Privacy Policy can be found <a href="/help/privacy">here</a>.</p>
                        </div>
                    </div>
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", onblur = "checkUsernameAvailability(this)" })
                            @Html.ValidationMessageFor(model => model.UserName)
                            <span id="usernameAvailabilityStatus" class="field-validation-error" style="display:none">This username is not available. Doh!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Are you a human?</div>
                        <div class="panel-body">
                            <p>Please solve the reCAPTCHA challenge below:</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        @{Html.RenderPartial("_Captcha");}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn-whoaverse" value="Register" />
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }

            </div>

        </div>
    </div>
</div>