@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model Whoaverse.Models.Message

@{
    string selectedSubverse = ViewBag.SelectedSubverse;
}

<style type="text/css">
    body > .content .link .rank {
        width: 3.2ex;
    }
</style>

<style type="text/css">
            @{
                Html.RenderAction("StylesheetForSelectedSubverse", "Subverses", new { selectedSubverse = selectedSubverse });
            }
</style>

<!--
    display 1 submission with details and comments
-->

@Html.Partial("_SidebarSubmissionInfo", Model)

<div class="content" role="main">

    <br /><br />

    @{
        //type 1 = message submission
        if (Model.Type == 1)
        {
            ViewBag.Title = Model.Title + " | " + selectedSubverse;
            ViewBag.Url = ViewBag.Url ?? HttpContext.Current.Request.Url.AbsoluteUri;
            ViewBag.Image = ViewBag.Image ?? "http://whoaverse.com/Graphics/whoaverse_padded.png";
            ViewBag.Description = ViewBag.Description ?? "whoaverse: the next frontpage of the internet";
            @Html.Partial("_MessageSubmissionDetails", Model)
        }

        //type 2 = link submission
        if (Model.Type == 2)
        {
            ViewBag.Title = Model.Linkdescription + " | " + selectedSubverse;
            ViewBag.Url = ViewBag.Url ?? HttpContext.Current.Request.Url.AbsoluteUri;
            ViewBag.Description = ViewBag.Description ?? "whoaverse: the next frontpage of the internet";
            //check if submission has a thumb, otherwise point to site logo
            if (Model.Thumbnail != null)
            {
                ViewBag.Image = ViewBag.Image ?? "http://whoaverse.com/Thumbs/"+@Model.Thumbnail;
            }
            else
            {
                ViewBag.Image = ViewBag.Image ?? "http://whoaverse.com/Graphics/whoaverse_padded.png";
            }            
            @Html.Partial("_LinkSubmissionDetails", Model)
        }
    }


    @{
        //if user logged in, show add comment form
        if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_AddComment", new ViewDataDictionary { { "messageId", Model.Id } })
        }
    }

    @Html.Partial("_CommentTree", Model)

    
</div>