@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model PagedList.IPagedList<Whoaverse.Models.Message>

@{
    ViewBag.Title = "overview for " + @ViewBag.userid;

    //(current page number -1)*25
    int currentPageNumber = Model.PageNumber;
    int counterCont = (currentPageNumber - 1) * 25;

    int counter = counterCont + 1;
    string submissionClass = "";

}

@using PagedList.Mvc;
@using Whoaverse.Utils;

@Html.Partial("_SidebarUserInfo")

<div class="content" role="main">

    <h2>Profile overview for @ViewBag.userid</h2>
    <hr />

    @foreach (var submission in Model)
    {
        //type 2 = link
        //type 1 = message
        if (submission.Type == 1)
        {
            submissionClass = "self";
        }
        else
        {
            submissionClass = "";
        }

        <div class="thing id-@submission.Id even link @submissionClass" onclick="handleVoting(this);" data-fullname="@submission.Id" data-ups="@submission.Votes" data-downs="0">

            @Html.Partial("Userprofile/_UserProfileSubmission", submission)

            <div class="child"></div>
            <div class="clearleft"><!--IE6sux--></div>
        </div>

    }

    @{
        if (Model.PageCount > 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("UserProfile", new { page }), WhoaversePagerOptions.PagedListRenderOptions())
        }
    }

</div>