@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model PagedList.IPagedList<Whoaverse.Models.Message>

@{
    ViewBag.Title = "Profile overview for " + @ViewBag.userid;

    //(current page number -1)*25
    int currentPageNumber = Model.PageNumber;
    int counterCont = (currentPageNumber - 1) * 25;

    int counter = counterCont + 1;
    string submissionClass = "";

}

@using PagedList.Mvc;
@using Whoaverse.Utils;

@Html.Partial("_SidebarUserInfo")

<div class="content" role="main">

    <h2>Profile overview for @ViewBag.userid. To see comments, click the comments tab.</h2>
    <hr />

    <p class="alert alert-info">
        This view is currently under development. If you want to see comment history for this user, please click the Comments tab above.<br /><br />
        If you want to see submission history for this user, please click the Submitted tab above.
    </p>

    <h2>This user has mostly submitted to the following subverses (showing top 5):</h2>
    <hr />
    <div class="alert alert-info">
        @{
            var userStatsModel = Whoaverse.Utils.User.userStatsModel(@ViewBag.userid);

            foreach (var item in userStatsModel.TopSubversesUserContributedTo)
            {
                <p><strong>@item.Count</strong> submissions to @item.SubverseName</p>
            }
        }
    </div>
    <h2>Submission stats:</h2>
    <hr />
    <div class="alert alert-info">
        This user has so far submitted a total of <strong>@userStatsModel.LinkSubmissionsSubmitted</strong> link type submissions and a total of <strong>@userStatsModel.MessageSubmissionsSubmitted</strong> message type submissions.
    </div>        

    </div>
