@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using Voat.Models
@model PaginatedList<SavedItem>

@{
    ViewBag.Title = "Saved Posts/Comments for " + @ViewBag.userid;
}

<div id="container">
    <div class="content-no-margin" role="main">

        <div class="alert-title">Saved Posts/Comments for @ViewBag.userid.</div>

        @foreach (var obj in Model)
        {
            var message = obj.SavedSubmission;
            var comment = obj.SavedComment;
            
            if (message != null)
            {
                //Is a message
                //type 2 = link
                //type 1 = message
                var submissionClass = "";
                if (message.Type == 1)
                {
                    submissionClass = "self";
                }
                else
                {
                    submissionClass = "";
                }
                <div class="submission id-@message.ID odd link @submissionClass" data-fullname="@message.ID" data-ups="@message.Votes" data-downs="">
                    <p class="parent"></p>
                    @Html.Partial("_votingIconsSubmission", message, new ViewDataDictionary { { "CCP", Karma.CommentKarma(User.Identity.Name) } })
                    @Html.Partial("~/Views/Shared/Submissions/_Submission.cshtml", message)
                    <div class="child"></div>
                    <div class="clearleft">@*IE6fix*@</div>
                </div>
            }
            if (comment != null)
            {
                //Is a comment
                //@Html.Partial("~/Views/AjaxViews/_SingleSubmissionComment.cshtml", comment, new ViewDataDictionary { { "CommentId", comment.Id }, { "CCP", Karma.CommentKarma(User.Identity.Name) }, { "parentIsHidden", false }, { "SortingMode", "new" }, { "ShowContextLink", true } })
                @Html.Partial("~/Views/Shared/Submissions/_SubmissionComment.cshtml", new Voat.Models.CommentBucketViewModel(comment), new ViewDataDictionary { { "CommentId", comment.ID }, { "CCP", Karma.CommentKarma(User.Identity.Name) }, { "parentIsHidden", false }, { "SortingMode", "new" }, { "ShowContextLink", true } })
            }
        }

        <div class="pagination-container">
            <ul>
                @if (Model.HasPreviousPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("‹ prev", "UserProfile", new { page = (Model.PageIndex - 1) }, new { rel = "prev" })
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("next ›", "UserProfile", new { page = (Model.PageIndex + 1) }, new { rel = "next" })
                    </li>
                }
            </ul>
        </div>

    </div>
</div>