@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model PaginatedList<Voat.Data.Models.Comment>

@{
    ViewBag.Title = "Comment history for " + @ViewBag.userid;
}

<div id="container">
    <div class="content-no-margin" role="main">
        <div class="alert-title">Comment history for @ViewBag.userid.</div>
        @foreach (var submission in Model)
        {
            @Html.Partial("Userprofile/_UserProfileComment", submission)
        }
        <div class="pagination-container">
            <ul>
                @if (Model.HasPreviousPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("‹ prev", "UserProfile", new { page = (Model.PageIndex - 1) }, new { rel = "prev" })
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("next ›", "UserProfile", new { page = (Model.PageIndex + 1) }, new { rel = "next" })
                    </li>
                }
            </ul>
        </div>
    </div>
</div>