
@model Voat.Models.ViewModels.ChatViewModel
@{ 
    Layout = "~/Views/Shared/Layouts/_LayoutContainer.cshtml";
    ViewBag.Title = "Chat Passphrase";
    var room = Model.Room;

}

<div class="content" id="container">

    <h1>Passphrase Required</h1>

    @using (Html.BeginForm("Password", "Chat"))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => room.ID)

        <div class="form-group">
            @Html.LabelFor(m => room.Passphrase, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.PasswordFor(m => room.Passphrase, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-3">
                <input type="submit" value="Proceed" class="btn-whoaverse" />
            </div>
        </div>

    }
</div>

