

@model Voat.Domain.Models.Set


<div id="container">
    <div role="main">
        @using (Html.BeginForm("Create", "Set", FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
        {
            <div class="alert-title">Set Properties</div>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ID)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsPublic, new { @class = "col-md-4 control-label" })
                <div class="col-md-3">
                    @Html.CheckBoxFor(m => m.IsPublic, new { @class = "form-control", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-3">
                    <input type="submit" value="Save" class="btn-whoaverse" />
                </div>
            </div>
        }
    </div>
</div>


