@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.SubverseModerator

<div id="container">
    <div id="about-main" class="content about-page" role="main">

        <h1>You are about to resign as moderator from: <a href="/v/@ViewBag.SubverseName">@ViewBag.SubverseName</a></h1>

        <br />
        <div class="alert alert-danger">Are you sure you want to resign as moderator from this subverse?</div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Power)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Power)
            </dd>
        </dl>

        @using (Html.BeginForm("ResignAsModerator", "Subverses", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <br />
            <input type="submit" value="Resign" class="btn-whoaverse-medium" />
            <br /><br />
            @Html.ActionLink("Back to subverse frontpage", "Index", new { subversetoshow = Model.Subverse })
        }
    </div>
</div>
