@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model PaginatedList<Voat.Data.Models.SubverseBan>

<div id="container">
    <div id="about-main" class="content about-page" role="main">

        <h1>User ban management interface for: <a href="/v/@ViewBag.SubverseName">@ViewBag.SubverseName</a></h1>

        <br />
        <div class="alert alert-info">Use this area to add/edit/remove user bans for your subverse.</div>

        <div class="form-horizontal">
            <hr />
            @Html.ActionLink("Add a new ban", "AddBan")
            <hr />

            <h1>Currently banned users</h1>

            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th><b>Username</b></th>
                        <th><b>Banned by</b></th>
                        <th><b>Ban reason</b></th>
                        <th><b>Banned on</b></th>
                        <th><b>Remove</b></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.Reason</td>
                            <td>@item.CreationDate</td>
                            <td>@Html.ActionLink("Remove", "RemoveBan", new { id = item.ID })</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div class="pagination-container">
            <ul>
                @if (Model.HasPreviousPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("‹ prev", "SubverseBans", new { page = (Model.PageIndex - 1) }, new { rel = "prev" })
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("next ›", "SubverseBans", new { page = (Model.PageIndex + 1) }, new { rel = "next" })
                    </li>
                }
            </ul>
        </div>

    </div>
</div>
