@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model IEnumerable<Voat.Data.Models.SubverseModerator>

<div id="container">
    <div id="about-main" class="content about-page" role="main">

        <h1>Subverse owner moderator management interface for: <a href="/v/@ViewBag.SubverseName">@ViewBag.SubverseName</a></h1>

        <br />
        <div class="alert alert-info">Use this area to add/edit/remove moderators for your subverse.</div>

        <div class="form-horizontal">
            <hr />
            @Html.ActionLink("Add a new moderator", "AddModerator")
            <hr />

            <h1>Currently active moderators</h1>

            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th><b>Username</b></th>
                    <th><b>Clearance</b></th>
                    <th><b>Remove</b></th>
                </tr>
                </thead>
                <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Power</td>
                        <td>@Html.ActionLink("Remove", "RemoveModerator", new {id = item.ID})</td>
                    </tr>
                }

                </tbody>
            </table>

            <hr/>
            @{
                Html.RenderAction("ModeratorInvitations", "Subverses", new { subverseToShow = ViewBag.SubverseName });
            }
            
        </div>

    </div>
</div>
