@*

    Copyright(c) Voat, Inc.

    This file is part of Voat.

    This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl-3.0.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an
    "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express
    or implied. See the License for the specific language governing
    rights and limitations under the License.

    All Rights Reserved.

*@

@model Voat.Domain.Models.FeaturedDomainReferenceDetails

    @{
        DateTime submissionDate = Model.CreationDate;
        string relAge = Voat.Common.Age.ToRelative(submissionDate);

        var type = Model.Type == Voat.Domain.Models.DomainType.Subverse ? "sub" : "set";

    }

    <div class="alert-featuredsub">
        <div class="submission link stickied" style="padding-bottom: 15px;">
            <p class="titlerow">
                <span class="featuredsub">featured @type</span>
                <a class="h4 title may-blank" href="@VoatUrlFormatter.BasePath(Model)" tabindex="1" title="@Model.Description">@Model.Name: @Model.Title</a>
                @*<a class="h4" href="/v/science">science: /v/science</a>*@
            </p>
            @if (!String.IsNullOrWhiteSpace(Model.Description))
            {
                <div class="well well-lg @*subversedescriptionbox*@">
                    <div class="usertext-body may-blank-within">
                        <p class="subversedescriptionboxcontent">@Model.Description</p>
                    </div>
                </div>
            }
            <p class="tagline">
                <span>
                    a @Model.Type.ToString().ToLower() for @Voat.Common.Age.ToRelative(Model.CreationDate), featured <time title="@Model.FeaturedDate" datetime="@Model.FeaturedDate">@Voat.Common.Age.ToRelative(Model.FeaturedDate)</time> ago by <a href="/user/@Model.FeaturedBy" class="author may-blank">@Model.FeaturedBy</a>
                </span>
            </p>
        </div>
    </div>
