@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Models.CommentBucketViewModel

@{
    //this comment tree should only contain the filtered parents
    foreach (var comment in Model.DisplayTree)
    {
        //do not show deleted comments unless they have replies
        if (comment.IsDeleted && comment.ChildCount <= 0)
        {
            continue;
        }
        @Html.Partial("~/Views/Shared/Submissions/_SubmissionComment.cshtml", Model,
        new ViewDataDictionary {
            { "VoteCache", ViewBag.VoteCache },
            { "SavedCommentCache", ViewBag.SavedCommentCache },
            { "CommentId", comment.ID },
            { "CCP", ViewBag.CCP },
            { "NestingCount", 0 },
            { "ParentIsHidden", false }
        })
    }
    if (Model.TotalInDisplayBranch > @Model.EndingIndex)
    {
        int remaining = Model.TotalInDisplayBranch - @Model.EndingIndex;
        <div>
            <br />
            @if (Model.ParentID == null)
            {
                //this is root comments
                <div class="spacer"></div>
                <a href="javascript:void(0)" id="loadmorebutton" class="btn-whoaverse btn-block" onclick="javascript:loadMoreComments2($('#loadmorebutton'), $('.commentarea > #siteTable'),@Model.Submission.ID,null,'siblings',@Model.EndingIndex,'@Model.Sort.ToString()')">
                    load more comments &#9660; (@remaining remaining)
                </a>
            }
            else
            {
                //this is non-root comments
                <a style="cursor:pointer;" id="loadmore-@Model.ParentID" class="inline-loadcomments-btn" onclick="javascript:loadMoreComments2($('#loadmore-@Model.ParentID'),$('.id-@Model.ParentID'),@Model.Submission.ID,@Model.ParentID,'siblings',@Model.EndingIndex,'@Model.Sort.ToString()')">Load more replies (@remaining remaining)</a>
            }
        </div>
    }
}
