@using Microsoft.AspNet.Identity
@model Whoaverse.Models.UserPreferencesViewModel

@using (Html.BeginForm("UserPreferences", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="checkbox">
        @Html.CheckBoxFor(m => m.Disable_custom_css)
        @Html.LabelFor(m => m.Disable_custom_css)
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.Night_mode)
        @Html.LabelFor(m => m.Night_mode)
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.OpenLinksInNewTab)
        @Html.LabelFor(m => m.OpenLinksInNewTab)
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.Enable_adult_content)
        @Html.LabelFor(m => m.Enable_adult_content)
    </div>
    <br />
    <input type="submit" value="Save" class="btn-whoaverse" />
}

