@using Whoaverse.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div id="about-main" class="content about-page" role="main">

    <div class="row nomargin">
        <div class="well col-md-8">

            <h1>Manage account.</h1>
            <h2>You can use this form to change your password.</h2>
            <hr />

            <p class="text-success">@ViewBag.StatusMessage</p>
            
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    {
                        @Html.Partial("_SetPasswordPartial")
                    }

                    <section id="externalLogins">
                        @Html.Action("RemoveAccountList")
                        @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })*@
                    </section>
                
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
