@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@using Whoaverse.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div id="container">

    @Html.Partial("_SidebarUserInfo")

    <div id="about-main" class="content about-page" role="main">

        <div class="row nomargin">
            <div class="well col-md-8">

                <h1>Your public profile</h1>
                <p class="h6"><a href="/user/@User.Identity.Name">Click here</a> to view your public profile.</p>
                <hr />
                <h1>User preferences</h1>
                <h2>You can use this form to customize your WhoaVerse experience.</h2>
                <hr />
                @if (ViewBag.HasLocalPassword)
                {
                    <section id="userPreferences">
                        @Html.Action("UserPreferences")
                    </section>
                }

                <h1>Change your password</h1>
                <h2>You can use this form to change your password.</h2>
                <hr />

                <p class="text-success">@ViewBag.StatusMessage</p>

                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangeAccountSettings")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

                <hr />
                <h1>Delete your account</h1>
                <h2>You can use this form to permanently delete your account.</h2>
                <hr />

                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_DeleteAccount")
                }

                <section id="externalLogins">
                    @Html.Action("RemoveAccountList")
                </section>

            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
    </div>
</div>
