@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Models.ViewModels.PasswordRecoveryModel

@{
    ViewBag.Title = "Password Recovery";
}

<div id="about-main" class="content about-page" role="main">

    <div class="row nomargin">
        <div class="well col-md-8">
            <h1>Password Recovery</h1>
            <hr />

            @if (ViewBag.HasUsername == null)
            {
                using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.HiddenFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="panel panel-default">
                        @Html.Label("Please re-type this code", new { @class = "col-md-2 control-label" })
                        @{Html.RenderPartial("_Captcha");}                     
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="Enter" class="btn-whoaverse" />
                        </div>
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Question, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Question, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.InputAnswer, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.InputAnswer, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="panel panel-default">
                        @Html.Label("Please re-type this code", new { @class = "col-md-2 control-label" })
                        @{Html.RenderPartial("_Captcha");}                 
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <input type="submit" value="Enter" class="btn-whoaverse" />
                        </div>
                    </div>
                }
            }
            <hr />

        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>
