@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.Submission

@{
    DateTime submissionDate = Model.CreationDate;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);
    int commentContributionPoints = Convert.ToInt32(ViewData["CCP"]);

    var commentCount = Model.Comments.Count(c => !c.IsDeleted);
    bool? subverseAnonymized = Convert.ToBoolean(ViewData["SubverseAnonymized"]);
}

@* Link flair select modal placeholder *@
<div class="modal fade" id="linkFlairSelectModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
</div>
@* End link flair select modal placeholder *@
@{
    //type 2 = urls
    //type 1 = message
    if (Model.Type == 2)
    {
        string ahrefTarget = "_self";

        if (User.Identity.IsAuthenticated)
        {
            if (UserHelper.LinksInNewWindow(User.Identity.Name))
            {
                ahrefTarget = "_blank";
            }
        }

        string submissionDomain = UrlUtility.GetDomainFromUri(Model.Content);

        @* 1 link submission details without comments *@
        <div id="siteTable" class="sitetable linklisting">

            <div id="submissionid-@Model.ID" class="submission id-@Model.ID odd link" onclick="" data-fullname="" data-ups="" data-downs="">
                <p class="parent"></p>

                @Html.Partial("_votingIconsSubmission", Model, new ViewDataDictionary { { "CCP", commentContributionPoints } })

                @if (Model.Thumbnail != null)
                {
                    <a class="thumbnail may-blank" href="@Model.Content" target="@ahrefTarget">
                        @if (Settings.UseContentDeliveryNetwork)
                        {
                            <img src="https://cdn.voat.co/thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                        else
                        {
                            <img src="~/Thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                    </a>
                }

                <div class="entry unvoted">
                    <p class="title">
                        <span id="linkflair" class="flair @Model.FlairCss" title="@Model.FlairLabel">@Model.FlairLabel</span>
                        <a class="title may-blank " href="@Model.Content" tabindex="1" title="@Model.LinkDescription" target="@ahrefTarget">@Model.LinkDescription</a>&#32;<span class="domain">(<a href="#">@submissionDomain</a>)</span>
                    </p>

                    <p class="tagline">
                        submitted&#32;<time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time>&#32;ago&#32;by&#32;
                        @if (Model.IsDeleted)
                        {
                            <span class="userattrs">[deleted]</span>
                        }
                        else
                        {
                            if (Model.IsAnonymized || subverseAnonymized == true)
                            {
                                <span class="userattrs">
                                    <a href="#" class="author may-blank">@Model.ID</a>
                                </span>
                            }
                            else
                            {
                                <span class="userattrs">
                                    <a href="/user/@Model.UserName" class="author may-blank userinfo" data-username="@Model.UserName">@Model.UserName</a>
                                </span>
                            }
                        }
                    </p>

                    @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_LSFLButtons.cshtml", Model, new ViewDataDictionary { { "commentCount", commentCount } })

                    <div class="expando" style='display: none'>
                        <span class="error">loading...</span>
                    </div>
                </div>
                <div class="child"></div>
                <div class="clearleft">
                    @*IE6fix*@
                </div>
            </div>
            <div class="clearleft">
                @*IE6fix*@
            </div>
        </div>
    }
}
