@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.Submission

@{
    DateTime submissionDate = Model.CreationDate;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);
    int commentContributionPoints = Convert.ToInt32(ViewData["CCP"]);

    var commentCount = Model.Comments.Count(c => !c.IsDeleted);
    bool? subverseAnonymized = Convert.ToBoolean(ViewData["SubverseAnonymized"]);
}

@* Link flair select modal placeholder *@
<div class="modal fade" id="linkFlairSelectModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
@* End link flair select modal placeholder *@
@* 1 message submission details without comments *@
<div id="siteTable" class="sitetable linklisting">
    <div id="submissionid-@Model.ID" class="submission odd link self id-@Model.ID" data-fullname="@Model.ID" data-ups="" data-downs="">
        <a name="submissionTop"></a>
        <p class="parent"></p>

        @Html.Partial("_votingIconsSubmission", Model, new ViewDataDictionary { { "CCP", commentContributionPoints } })

        <div class="entry unvoted">
            <p class="title">
                <span id="linkflair" class="flair @Model.FlairCss" title="@Model.FlairLabel">@Model.FlairLabel</span>
                <a class="title may-blank " href="/v/@Model.Subverse/comments/@Model.ID" tabindex="1" title="@Model.Title">@Model.Title</a>&#32;
                <span class="domain">(<a href="/v/@Model.Subverse">v/@Model.Subverse</a>)</span>
            </p>
            <p class="tagline">
                submitted&#32;
                <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time>&#32;ago&#32;by&#32;

                @if (Model.IsDeleted)
                {
                    <span class="userattrs">[deleted]</span>
                }
                else
                {
                    if (Model.IsAnonymized || subverseAnonymized == true)
                    {
                        <span class="userattrs">
                            <a href="#" class="author may-blank">@Model.ID</a>
                        </span>
                    }
                    else
                    {
                        <span class="userattrs">
                            <a href="/user/@Model.UserName" class="author may-blank userinfo" data-username="@Model.UserName">@Model.UserName</a>
                        </span>
                    }
                }
            </p>
            @if (!Model.Content.IsEmpty())
            {
                <div class="expando">

                    <form class="usertext" onsubmit="return editmessagesubmit(@Model.ID)" id="messageeditform-@Model.ID" action="#">
                        @Html.AntiForgeryToken()
                        <input id="SubmissionID" name="SubmissionID" value="@Model.ID" type="hidden">

                        <div class="usertext-body original may-blank-within">
                            <div class="md">
                                @Html.Raw(@Formatting.FormatMessage(@Model.Content))
                            </div>
                        </div>

                        <div class="usertext-edit" style="display: none;">
                            <div>
                                @Html.Partial("_MarkdownEditor")
                                <textarea aria-invalid="false" class="form-control valid" cols="20" id="Content" name="Content" data-rule-required="true" data-msg-required="The text can not be empty.">@Model.Content</textarea>
                                <span data-valmsg-replace="false" data-valmsg-for="Content" class="field-validation-error"></span>
                                <div class="usertext-buttons">
                                    <input value="Save" class="btn-whoaverse-paging" type="submit">
									<input type="button" id="previewButton" value="Preview" class="btn-whoaverse-paging" onclick="showMessagePreview(this,$(this.parentElement.parentElement).find('#Content'),$(this.parentElement.parentElement).find('#submission-preview-area'))">
                                    <button class="btn-whoaverse-paging" onclick="removesubmissioneditform(@Model.ID)" type="button">Cancel</button>
                                </div>
                                <div class="panel panel-default" id="submission-preview-area" style="display: none">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Preview</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="usertext-body may-blank-within">
                                            <div class="md" id="submission-preview-area-container">
                                                Loading preview...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
				<textarea id="sourceDisplay" readonly="" class="commenttextarea" style="display: none;">@Model.Content</textarea>
            }

            @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_MSFLButtons.cshtml", Model, new ViewDataDictionary { { "commentCount", commentCount } })

        </div>
        <div class="child"></div>
        <div class="clearleft">
            @*IE6fix*@
        </div>
    </div>
    <div class="clearleft">
        @*IE6fix*@
    </div>
</div>

