@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.Submission

@{
    string ahrefTarget = "_self";
    bool ratedAdult = false;
    bool anonymizedSubverse = false;

    if (User.Identity.IsAuthenticated)
    {
        if (UserHelper.LinksInNewWindow(User.Identity.Name))
        {
            ahrefTarget = "_blank";
        }
    }

    //var commentCount = Model.Comments.Count(c => c.Name != "deleted");
    var commentCount = CommentCounter.CommentCount(Model.ID);

    //if (Model.Subverses != null)
    //{
        var sub = DataCache.Subverse.Retrieve(Model.Subverse);
        ratedAdult = sub.IsAdult;
        anonymizedSubverse = sub.IsAnonymized;
    //}

    string routeActiveSubverse = (string)ViewContext.RouteData.Values["subversetoshow"];

    string commentsUrl = "/v/" + Model.Subverse + "/comments/" + Model.ID;

    DateTime submissionDate = Model.CreationDate;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);

    //type 2 = urls
    if (Model.Type == 2)
    {
        string submissionDomain = UrlUtility.GetDomainFromUri(Model.Content);

        if (Model.Thumbnail != null)
        {
            if (routeActiveSubverse != null)
            {
                if (Model.LinkDescription.ToLower().Contains("nsfw") && Model.Subverse.ToLower() != routeActiveSubverse.ToLower())
                {
                    <a class="thumbnail nsfw may-blank" href="@Model.Content" rel="nofollow" target="@ahrefTarget"></a>
                }
                else if (ratedAdult && Model.Subverse.ToLower() != routeActiveSubverse.ToLower())
                {
                    <a class="thumbnail nsfw may-blank" href="@Model.Content" rel="nofollow" target="@ahrefTarget"></a>
                }
                else
                {
                    <a class="thumbnail may-blank" href="@Model.Content" target="@ahrefTarget">
                        @if (Settings.UseContentDeliveryNetwork)
                        {
                            <img src="https://cdn.voat.co/thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                        else
                        {
                            <img src="~/Thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                    </a>
                }
            }
            else
            {
                if (Model.LinkDescription.ToLower().Contains("nsfw"))
                {
                    <a class="thumbnail nsfw may-blank" href="@Model.Content" rel="nofollow" target="@ahrefTarget"></a>
                }
                else if (ratedAdult)
                {
                    <a class="thumbnail nsfw may-blank" href="@Model.Content" rel="nofollow" target="@ahrefTarget"></a>
                }
                else
                {
                    <a class="thumbnail may-blank" href="@Model.Content" target="@ahrefTarget">
                        @if (Settings.UseContentDeliveryNetwork)
                        {
                            <img src="https://cdn.voat.co/thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                        else
                        {
                            <img src="~/Thumbs/@Model.Thumbnail" alt="@Model.LinkDescription" />
                        }
                    </a>
                }
            }
        }

        <div class="entry unvoted">
            <p class="title">
                @if (Model.FlairLabel != null && Model.FlairCss != null)
                {
                    if (routeActiveSubverse != "" && routeActiveSubverse != "all" && routeActiveSubverse != null)
                    {
                        <span class="flair @Model.FlairCss" title="@Model.FlairLabel">@Model.FlairLabel</span>
                    }
                }
                <a class="title may-blank " href="@Model.Content" tabindex="1" title="@Model.LinkDescription" target="@ahrefTarget">@Model.LinkDescription</a>
                <span class="domain">(<a href="/domains/@submissionDomain/">@submissionDomain</a>)</span>
            </p>

            @if (Model.IsDeleted)
            {
                <p class="tagline">
                    submitted <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time> ago by
                    <span class="userattrs">[deleted]</span> to <a href="/v/@Model.Subverse" class="subverse hover may-blank">@Model.Subverse</a>
                </p>
            }
            else
            {
                if (Model.IsAnonymized || anonymizedSubverse)
                {
                    <p class="tagline">
                        submitted <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time> ago by <a href="#" class="author may-blank">@Model.ID</a>
                        <span class="userattrs"></span> to <a href="/v/@Model.Subverse" class="subverse hover may-blank">@Model.Subverse</a>
                        <span class="commentvotesratio">(<span class="post_upvotes">+@Model.UpCount</span>|<span class="post_downvotes">-@Model.DownCount</span>)</span>
                    </p>
                }
                else
                {
                    <p class="tagline">
                        submitted <time title="@Model.CreationDate" datetime="@Model.CreationDate">@postAge</time> ago by <a href="/user/@Model.UserName" class="author may-blank userinfo" data-username="@Model.UserName">@Model.UserName</a>
                        <span class="userattrs"></span> to <a href="/v/@Model.Subverse" class="subverse hover may-blank">@Model.Subverse</a>
                        <span class="commentvotesratio">(<span class="post_upvotes">+@Model.UpCount</span>|<span class="post_downvotes">-@Model.DownCount</span>)</span>
                    </p>
                }
            }

            <ul class="flat-list buttons">
                <li class="first">
                    @if (commentCount > 0)
                    {
                        <a href="@commentsUrl" class="comments may-blank">@commentCount comments</a>
                    }
                    else
                    {
                        <a href="@commentsUrl" class="comments may-blank">discuss</a>
                    }
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (!Model.IsDeleted)
                    {
                        <li>
                            @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonSave.cshtml", Model, new ViewDataDictionary { { "submissionId", Model.ID } })
                        </li>
                        if (!string.IsNullOrEmpty(routeActiveSubverse) && routeActiveSubverse == "all")
                        {
                            <li>
                                @Html.Partial("~/Views/Shared/Submissions/SubmissionFlatListButtons/_SFLButtonBlockSubverse.cshtml", Model, new ViewDataDictionary { { "subverseName", Model.Subverse } })
                            </li>
                        }
                    }
                }
            </ul>
            <div class="expando" style="display: none">
                <form style="" novalidate="novalidate" class="usertext" action="#">
                    <div class="usertext-body may-blank-within">
                        <div class="videoplayer">
                            Loading magic stuff...
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }

}
