@*
    This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.
*@

@model CommentBucketViewModel

@using Voat.Data.Models
@using Voat.Models.ViewModels
@using Voat.Models;

@{
    int commentContributionPoints = ViewBag.CCP ?? 0;

    bool singleTree = ViewBag.SingleTree ?? false;

    bool? subverseAnonymized = Model.Subverse.IsAnonymized;

    //nesting params
    int nestingCount = ViewBag.NestingCount ?? 0;
    int nestingLimit = Model.NestingThreshold;

    //find the comment based on the received comment id via ViewData
    int commentId = ViewBag.CommentId;
    var comment = Model.CommentTree.FirstOrDefault(x => x.ID == commentId);
    int commentScore = (int)(comment.UpCount - comment.DownCount);
    var commentSingleVM = new CommentSingleViewModel() { CommentModel = comment, SubmissionModel = Model.Submission, SubverseModel = Model.Subverse };

    //check if thread should be hidden
    bool parentIsHidden = ViewBag.ParentIsHidden ?? false;
    bool childTohiddenParent = ViewBag.ChildToHiddenParent ?? false;

    DateTime submissionDate = comment.CreationDate;
    string postAge = Submissions.CalcSubmissionAge(submissionDate);
    string opName = Model.Submission.UserName;
    string commentAuthor = comment.UserName;

    DateTime? lastEditDate = comment.LastEditDate;
    string editedPostAge = "at some point in time";
    if (lastEditDate != null)
    {
        editedPostAge = Submissions.CalcSubmissionAge((DateTime)lastEditDate);
    }

    // apply class style if OP is the Comment Author
    opName = opName.Trim();
    commentAuthor = commentAuthor.Trim();

    string collapsedComment = "";
    string uncollapsedComment = "";
    string showIfParent = "";

    //collapse comments with score of -4 or less
    if (parentIsHidden || commentScore <= Model.NegativeScoreThreshold)
    {
        collapsedComment = ""; //show collapsed comment
        uncollapsedComment = "display:none"; //hide uncollapsed comment
        if (childTohiddenParent)
        {
            showIfParent = "display: none";
            uncollapsedComment = "";
            collapsedComment = "display: none";
        }
    }
    else
    {
        collapsedComment = "display:none"; //hide collapsed comment
        uncollapsedComment = ""; //show uncollapsed comment
    }

    string highlightClass = "";
    if (ViewBag.CommentToHighLight == comment.ID)
    {
        highlightClass = "highlightedComment";
    }
}

<div class="child id-@commentId comment @highlightClass" data-fullname="" data-ups="" data-downs="" style="@(parentIsHidden ? "display:none" : "")">

    @* 1 submission comment *@
    <p class="parent">
        <a></a>
    </p>

    @if (!comment.IsDeleted)
    {
        @Html.Partial("_votingIconsComment", Model, new ViewDataDictionary {
            { "VoteCache", ViewBag.VoteCache },
            { "CommentId", commentId },
            { "CCP", ViewBag.CCP },
            { "collapsedStyle", uncollapsedComment } })
    }

    <div class="entry unvoted">
        <div class="collapsed" style='@collapsedComment'>
            <a href="#" class="expand" onclick="return showcomment(@commentId)">[+]</a>
            @if (!comment.IsDeleted)
            {
                if (Model.Submission.IsAnonymized || subverseAnonymized == true)
                {
                    <a href="#" class="author gray may-blank">@comment.ID</a>
                }
                else
                {
                    <a href="/user/@comment.UserName" class="author gray may-blank">@comment.UserName</a>
                }
                <span class="userattrs"></span>
                <span class="score dislikes">@comment.DownCount points</span>
                <span class="score onlycollapsed">@commentScore points</span>
                <span class="score likes">@comment.UpCount points</span>
            }
            else
            {
                <span class="userattrs">[deleted]</span>
            }
            <time title="@comment.CreationDate" datetime="@comment.CreationDate">@postAge</time>&#32;ago&nbsp;
            @if (lastEditDate != null)
            {
                <span>(last edited <time title="@comment.LastEditDate" datetime="@comment.LastEditDate">@editedPostAge</time>&#32;ago)</span>
            }
            &nbsp;<a href="#" class="expand" style="@showIfParent" onclick="return showcomment(@commentId)">(show children)</a>
        </div>

        <div class="noncollapsed" id="@commentId" style="@uncollapsedComment">
            <p class="tagline">
                <a href="#" class="expand" onclick="return hidecomment(@commentId)">[&ndash;]</a>

                @if (!comment.IsDeleted)
                {
                    //int commentScore = commentModel.Likes - commentModel.Dislikes;
                    string view = "~/Views/Shared/UserDistinctions/_UserDistinction.cshtml";
                    if (opName == commentAuthor)
                    {
                        view = (comment.IsDistinguished ? "~/Views/Shared/UserDistinctions/_SubmitterModeratorDistinction.cshtml" : "~/Views/Shared/UserDistinctions/_SubmitterDistinction.cshtml");
                    }
                    else if (comment.IsDistinguished)
                    {
                        view = "~/Views/Shared/UserDistinctions/_ModeratorDistinction.cshtml";
                    }

                    @Html.Partial(view, commentSingleVM, new ViewDataDictionary { { "SubverseAnonymized", subverseAnonymized } })
                    <span class="score dislikes">
                        <span class="number">@comment.DownCount</span> points
                    </span>
                    <span class="score unvoted">
                        <span class="number">@commentScore</span> points
                    </span>
                    <span class="score likes">
                        <span class="number">@comment.UpCount</span> points
                    </span>
                    <span class="commentvotesratio">(<span class="post_upvotes">+@comment.UpCount</span>|<span class="post_downvotes">-@comment.DownCount</span>)</span>
                }
                else
                {
                    <span class="userattrs">[deleted]</span>
                }

                <time title="@comment.CreationDate" datetime="@comment.CreationDate">@postAge</time>&#32;ago&nbsp;
                @if (lastEditDate != null)
                {
                    <span>(edited <time title="@comment.LastEditDate" datetime="@comment.LastEditDate">@editedPostAge</time>&#32;ago)</span>
                }
            </p>

            <form class="usertext" onsubmit="return editcommentsubmit(@commentId)" id="commenteditform-@commentId" action="#">
                @Html.AntiForgeryToken()
                <input id="CommentId" name="CommentId" value="@commentId" type="hidden">
                @if (!comment.IsDeleted)
                {
                    <div class="usertext-body may-blank-within" id="commentContent-@commentId">
                        <div class="md">
                            @* Skip Regex intense processing if we've pre-processed *@
                            @if (!String.IsNullOrEmpty(comment.FormattedContent))
                            {
                                @Html.Raw(comment.FormattedContent)
                            }
                            else
                            {
                                @Html.Raw(@Formatting.FormatMessage(comment.Content))
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="usertext gray">
                        <div class="md">
                            [@comment.Content]
                        </div>
                    </div>
                }

                <div class="usertext-edit" style="width: 775px; display: none;">
                    <div>
                        @Html.Partial("_MarkdownEditor")
                        <textarea aria-invalid="false" class="form-control valid" cols="20" id="Content" name="Content" rows="2" data-rule-required="true" data-msg-required="The comment can not be empty.">@WebUtility.HtmlDecode(comment.Content)</textarea>
                        <span data-valmsg-replace="false" data-valmsg-for="Content" class="field-validation-error"></span>
                        <div class="usertext-buttons">
                            <input value="Save" class="btn-whoaverse-paging" type="submit">
                            <input type="button" id="previewButton" value="Preview" class="btn-whoaverse-paging" onclick="showMessagePreview(this,$(this.parentElement.parentElement).find('#Content'),$(this.parentElement.parentElement).find('#submission-preview-area'))">
                            <button class="btn-whoaverse-paging" onclick="removeeditform(@commentId)" type="button">Cancel</button>
                        </div>
                        <div class="panel panel-default" id="submission-preview-area" style="display: none">
                            <div class="panel-heading">
                                <h4 class="panel-title">Preview</h4>
                            </div>
                            <div class="panel-body">
                                <div class="usertext-body may-blank-within">
                                    <div class="md" id="submission-preview-area-container">
                                        Loading preview...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <textarea id="sourceDisplay" readonly="" class="commenttextarea" style="display: none;">@comment.Content</textarea>
            @Html.Partial("~/Views/Shared/Comments/CommentFlatListButtons/_CommentFlatListButtons.cshtml", commentSingleVM,
                new ViewDataDictionary { { "SavedCommentCache", ViewBag.SavedCommentCache } })

            @if (comment.ChildCount > 0 && nestingCount >= Model.NestingThreshold)
            {
                <div>
                    <br />
                    <a style="cursor:pointer;" id="loadmore-@comment.ID" class="inline-loadcomments-btn" onclick="javascript:loadMoreComments2($('#loadmore-@comment.ID'),$('.id-@comment.ID'),@Model.Submission.ID,@comment.ID,'children',0,'@Model.Sort.ToString()')">@comment.ChildCount @(comment.ChildCount == 1 ? "reply" : "replies")</a>
                </div>
            }
        </div>
    </div>

    @{
        parentIsHidden = (comment.UpCount - comment.DownCount <= Model.NegativeScoreThreshold);
        if (comment.ChildCount > 0 && nestingCount < Model.NestingThreshold)
        {
            //look for children comments to this root comment and display them
            IEnumerable<Voat.Data.Models.usp_CommentTree_Result> childComments = null;
            int parentID = commentId;

            //TODO: Should sort in controller
            if (Model.Sort == CommentSort.New)
            {
                childComments = Model.CommentTree.Where(x => x.ParentID == commentId).OrderByDescending(x => x.CreationDate).ToList();
            }
            else
            {
                childComments = Model.CommentTree.Where(x => x.ParentID == commentId).OrderByDescending(x => x.UpCount - x.DownCount).ToList();
            }

            bool showMoreSiblings = false;
            int remaining = 0;
            if (childComments.Count() > Model.CollapseSiblingThreshold && !singleTree)
            {
                showMoreSiblings = true;
                remaining = childComments.Count() - Model.CollapseSiblingThreshold;
                childComments = childComments.Take(Model.CollapseSiblingThreshold);
            }

            int sameParentCounter = 0;
            foreach (var childComment in childComments)
            {
                //recalculate parent id score and hide here instead of passing values around?
                if (sameParentCounter < 1)
                {
                    nestingCount++;
                }
                parentID = childComment.ID;

                @Html.Partial("~/Views/Shared/Submissions/_SubmissionComment.cshtml", Model, new ViewDataDictionary {
                    { "SavedCommentCache", ViewBag.SavedCommentCache },
                    { "VoteCache", ViewBag.VoteCache },
                    { "CommentId", childComment.ID },
                    { "CCP", ViewBag.CCP },
                    { "ParentIsHidden", parentIsHidden },
                    { "ChildToHiddenParent", parentIsHidden },
                    { "NestingCount", nestingCount },
                    { "CommentToHighlight", ViewBag.CommentToHighLight } })

                sameParentCounter++;
            }
            if (showMoreSiblings)
            {
                <div class="child comment" style="@uncollapsedComment">
                    <a style="cursor:pointer;" id="loadmore-@commentId" class="inline-loadcomments-btn" onclick="javascript:loadMoreComments2($('#loadmore-@commentId'),$('.id-@commentId'),@Model.Submission.ID,@commentId,'siblings',@childComments.Count(),'@Model.Sort.ToString()')">Load more replies (@remaining remaining)</a>
                </div>
            }
        }
    }
</div>