@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using System.Configuration
@model Voat.Models.Cla

@{
    ViewBag.Title = "Voat CLA";
}

<style>
    body ol {
        margin: 1em 0;
        padding: 0 0 0 40px;
    }

        body ol li {
            list-style-type: decimal;
        }

    div .centerblock {
        margin: 0 auto;
        position: relative;
        vertical-align: middle;
        width: 800px;
    }
</style>

<div id="about-main" class="content about-page" role="main">

    <div class="centerblock">

        <h1>Voat</h1>
        <h1>Contributor License Agreement ("Agreement")</h1>
        <br />
        <div>
            Thank you for your interest in the Voat open source project being administered by Voat GmbH, ("Voat").
            The form of license below is a document that clarifies the terms under which You, the person listed below, may contribute software, bug fixes,
            configuration changes, documentation, or any other materials that you send to us related to the Project (each a "Contribution") to the project.
            We appreciate your participation in our project, and your help in improving the project, so we want you to understand what
            will be done with the Contributions. This license is for your protection as well as the protection of Voat and its licensees;
            it does not change your rights to use your own Contributions for any other purpose. Please complete the following information about
            you and the Contributions and sign electronically by filling out the form below.
        </div>
        <br />
        <div>
            If you have questions about these terms, please contact us at legal@voat.co.
        </div>
        <br />
        <div>
            <h2>Corporate Contributions:</h2>
            <br />
            If you are employed as a software engineer, or if your employer is in the business of developing software, or otherwise may claim rights in the Contributions, please provide information about your employer's policy on contributing to open source projects, including the name of the supervisor to contact in connection with such contributions.
        </div>
        <br />
        <div>
            <h2>You and Voat agree:</h2>
            <br />
            <ol>
                <li>You grant us the ability to use the Contributions in any way. You hereby grant to Voat, a non-exclusive, irrevocable, worldwide, royalty-free, sublicenseable, transferable license under all of Your relevant intellectual property rights (including copyright, patent, and any other rights), to use, copy, prepare derivative works of, distribute and publicly perform and display the Contributions on any licensing terms, including without limitation: (a) open source licenses like the GNU General Public License (GPL), the GNU Lesser General Public License (LGPL), the Common Public License, or the Berkeley Software Distribution license (BSD); and (b) binary, proprietary, or commercial licenses. Except for the licenses granted herein, You reserve all right, title, and interest in and to the Contribution.</li>
                <li>You are able to grant us these rights. You represent that You are legally entitled to grant the above license. If Your employer has rights to intellectual property that You create, You represent that You have received permission to make the Contributions on behalf of that employer, or that Your employer has waived such rights for the Contributions.</li>
                <li>The Contributions are your original work. You represent that the Contributions are Your original works of authorship, and to Your knowledge, no other person claims, or has the right to claim, any right in any invention or patent related to the Contributions. You also represent that You are not legally obligated, whether by entering into an agreement or otherwise, in any way that conflicts with the terms of this license. For example, if you have signed an agreement requiring you to assign the intellectual property rights in the Contributions to an employer or customer, that would conflict with the terms of this license.</li>
                <li>We determine the code that is in our project. You understand that the decision to include the Contribution in any project or source repository is entirely that of Voat, and this agreement does not guarantee that the Contributions will be included in any product.</li>
                <li>No Implied Warranties. Voat acknowledges that, except as explicitly described in this Agreement, the Contribution is provided on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OR CONDITIONS OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE.</li>
            </ol>
        </div>
        <br />
        <h1>Sign Electronically</h1>
        <br />
        <h2>Voat Contributor License Agreement ("Agreement")</h2>
        <br />
        Alternatively to sending by email, you may also choose to sign the form electronically:
        <br /><br />
        @using (Html.BeginForm("ClaSubmit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.FullName, "Full name*", new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, "E-mail*", new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MailingAddress, "Mailing address*", new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.MailingAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MailingAddress)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, "City*", new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, "Country*", new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, "Phone number*", new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>

            <p>If you are employed as a software engineer, or if your employer is in the business of developing software, or otherwise may claim rights in the Contributions, please provide information about your employer's policy on contributing to open source projects, including the name of the supervisor to contact in connection with such contributions: </p>
            <br />

            <div class="form-group">
                @Html.LabelFor(m => m.CorpContrInfo, "Corporate Contributor Information", new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(m => m.CorpContrInfo, new { @class = "form-control", rows = 2, cols = 20 })
                    @Html.ValidationMessageFor(model => model.CorpContrInfo)
                </div>
            </div>

            <p>Type I AGREE to accept the terms outlined above:</p>
            <br />

            <div class="form-group">
                @Html.LabelFor(m => m.ElectronicSignature, "Electronic signature*", new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.ElectronicSignature, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ElectronicSignature)
                </div>
            </div>

            <div class="panel panel-default">
                @Html.Label("Please re-type this code", new { @class = "col-md-2 control-label" })
                @{Html.RenderPartial("_Captcha");}                           
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" class="btn btn-default" value="Send" />
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>