@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using System.Configuration
@using Voat.Utilities
@model Voat.Models.AddSubmissionSelfpost

@{
    ViewBag.Title = "subverse: submit";

    string loggedinUser = User.Identity.Name;
    DateTime currentdatetime = DateTime.Now;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="alert alert-info">
        You are starting a new discussion.
    </div>

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @*Setup default values*@
        @Html.Hidden("CreationDate", currentdatetime)
        @Html.Hidden("UserName", loggedinUser)
        @Html.Hidden("Type", 1)
        @Html.Hidden("Votes", 1)
        @Html.Hidden("Rank", 0)

        <div class="form-group">
            @Html.Label("Title:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Title, new { @class = "form-control", Value = ViewBag.title })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Subverse:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Subverse, new { @class = "form-control", Value = ViewBag.selectedSubverse, id = "Subverse", @placeholder = "Start typing to get suggestions" })
                @Html.ValidationMessageFor(model => model.Subverse)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-9">
                A subverse mostly serves as a way of classifying submissions so that other users can easily find what interests them.
                <p>
                    <b>
                        If you don't want to classify your submission, enter "whatever" in this field.
                    </b>
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"></div>
            <div class="col-md-9">
                Here are some other popular choices:
                <b>
                    videos,
                    pics,
                    programming,
                    funny,
                    science,
                    technology,
                    news,
                    music
                </b>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Message (optional):", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.MarkdownEditorFor(m => m.Content, new { @class = "form-control", rows = "5", Value = ViewBag.message })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>

        @if (Karma.CommentKarma(User.Identity.Name) < 25)
        {
            <div class="alert alert-info">Are you a human? Please solve the reCAPTCHA challenge below (sorry, this is to prevent spam):</div>

            <div class="panel panel-default panel-transparent">
                <div class="col-md-offset-2 col-md-10">
                    @{Html.RenderPartial("_Captcha");}
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn-whoaverse" />
                <input type="button" value="Preview" class="btn-whoaverse" onclick="showMessagePreview(this,$(this.parentElement.parentElement.parentElement).find('#Content'),$(this.parentElement.parentElement.parentElement).find('#submission-preview-area'))">
            </div>
        </div>

        <div class="panel panel-default" id="submission-preview-area" style="display: none">
            <div class="panel-heading">
                <h4 class="panel-title">Preview</h4>
            </div>
            <div class="panel-body">
                <div class="usertext-body may-blank-within">
                    <div class="md" id="submission-preview-area-container">
                        Loading preview...
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Formatting help
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Voat uses a slightly-customized version (we disabled embedding of images etc) of <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting. See below for some basics, or check <a href="~/help/markdown">here</a> for more detailed help.<br /><br />
                        <div class="well">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>You type</th>
                                        <th>You see</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>*italics*</td>
                                        <td><i>italics</i></td>
                                    </tr>
                                    <tr>
                                        <td>**bold**</td>
                                        <td><b>bold</b></td>
                                    </tr>
                                    <tr>
                                        <td>[A website](http://example.com)</td>
                                        <td><a href="http://example.com">A website</a></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/help/markdown" target="_blank">Click here to see more samples.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

