@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using System.Configuration
@using Voat.Models.ViewModels

@{
    string selectedSubverse = ViewBag.SelectedSubverse;
    var theme = UserHelper.UserStylePreference(User.Identity.Name);
    //var theme = Session["UserTheme"];
    var themeClass = theme == null || theme == "light" ? "light" : "dark";

    LoginViewModel loginViewModel = new LoginViewModel();

    string routeController = (string)ViewContext.RouteData.Values["controller"];
    string routeAction = (string)ViewContext.RouteData.Values["action"];
    string routeId = (string)ViewContext.RouteData.Values["id"];

    string sortingMode = ViewBag.SortingMode;
    string selectedUser = ViewBag.userid;

    ViewBag.Title = ViewBag.Title ?? Settings.SiteSlogan;
    ViewBag.Description = ViewBag.Description ?? Settings.SiteDescription;
    ViewBag.Url = ViewBag.Url ?? HttpContext.Current.Request.RawUrl;
    ViewBag.Image = ViewBag.Image ?? HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority + Settings.SiteLogo;

    if (selectedSubverse != null && selectedSubverse != "frontpage" && selectedSubverse != "user" && selectedSubverse != "domains" && ViewBag.PmView == null)
    {
        selectedSubverse = "/v/" + ViewBag.SelectedSubverse;
    }
    else
    {
        if (selectedSubverse != "user" && selectedSubverse != "domains" && ViewBag.PmView == null)
        {
            selectedSubverse = "/";
        }
        if (selectedSubverse == "domains")
        {
            selectedSubverse = "/domains/" + ViewBag.SelectedDomain + "/";
        }
    }
}

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="en" />
    <link rel="http://oexchange.org/spec/0.8/rel/related-target" type="application/xrd+xml" href="http://voat.co/oexchange.xrd" />

    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    else
    {
        <meta name="description" content="@Settings.SiteSlogan" />
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    else
    {
        <meta name="keywords" content="@Settings.SiteKeywords" />
    }

    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:site_name" content="@Settings.SiteName" />
    <meta property="og:description" content="@ViewBag.Description" />

    @if (theme == null || theme == "light")
    {
        @Styles.Render("~/Content/Light")
    }
    else
    {
        @Styles.Render("~/Content/Dark")
    }

    <link rel=StyleSheet href="~/Content/ui-themes/autocomplete/autocompletebundle.min.css" type="text/css">

    @* For Chrome for Android: *@
    <link rel="icon" sizes="192x192" href="~/Graphics/Icons/touch-icon-192x192.png">
    @* For iPhone 6 Plus with 3× display: *@
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="~/Graphics/Icons/apple-touch-icon-180x180-precomposed.png">
    @* For iPad with 2× display running iOS ≥ 7: *@
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Graphics/Icons/apple-touch-icon-152x152-precomposed.png">
    @* For iPad with 2× display running iOS ≤ 6: *@
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Graphics/Icons/apple-touch-icon-144x144-precomposed.png">
    @* For iPhone with 2× display running iOS ≥ 7: *@
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Graphics/Icons/apple-touch-icon-120x120-precomposed.png">
    @* For iPhone with 2× display running iOS ≤ 6: *@
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Graphics/Icons/apple-touch-icon-114x114-precomposed.png">
    @* For the iPad mini and the first- and second-generation iPad (1× display) on iOS ≥ 7: *@
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Graphics/Icons/apple-touch-icon-76x76-precomposed.png">
    @* For the iPad mini and the first- and second-generation iPad (1× display) on iOS ≤ 6: *@
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Graphics/Icons/apple-touch-icon-72x72-precomposed.png">
    @* For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: *@
    <link rel="apple-touch-icon-precomposed" href="~/Graphics/Icons/apple-touch-icon-precomposed.png">
    @* 57×57px *@
    <link rel='shortcut icon' href="/favicon.ico" type="image/x-icon" />

</head>
<body class="@themeClass">
    <div style="display:none" id="share-a-link-overlay">
        <div>
            <h1>share a link</h1>
        </div>
    </div>

    <div id="header" tabindex=0 role="banner">
        @if (User.Identity.IsAuthenticated && UserHelper.SubscriptionCount(User.Identity.Name) > 0 && UserHelper.Topmenu_From_Subscriptions(User.Identity.Name))
        {
            @Html.Action("ListOfSubversesUserIsSubscribedTo", "Subverses", new { activeSubverse = selectedSubverse })
        }
        else
        {
            @Html.Action("ListOfDefaultSubverses", "Subverses", new { activeSubverse = selectedSubverse })
        }
        <div id="header-container">
            <div id="header-banner">

                <a title="@Settings.SiteSlogan" href="/" id="header-img-a">
                    <img id="header-img" src="@Settings.SiteLogo" alt="@Settings.SiteName" height="31" width="112">
                </a>

                <div id="show-menu-button"></div>

                @if (ViewBag.PmView != null)
                {
                    Html.RenderAction("PmMenu", "Nav", new { selectedView = ViewBag.PmView, sortingMode = sortingMode });
                }

                @if (selectedSubverse != null)
                {
                    if (selectedSubverse.Equals("user"))
                    {
                        // render user profile tab menu
                        Html.RenderAction("UserProfileMenu", "Nav", new { whattodisplay = ViewBag.whattodisplay, selectedUser = selectedUser });
                    }
                    else if (selectedSubverse.Equals("/"))
                    {
                        // render frontpage tab menu
                        Html.RenderAction("TabMenu", "Nav", new { selectedSubverse = selectedSubverse, sortingMode = sortingMode, action = ViewBag.action, frontpage = true });
                    }
                    else if (ViewBag.SelectedSubverse.Equals("domains"))
                    {
                        // render domains tab menu
                        Html.RenderAction("DomainsMenu", "Nav", new { selectedSubverse = selectedSubverse, sortingMode = sortingMode, selectedDomain = ViewBag.selectedDomain });
                    }
                    else if (ViewBag.SelectedSubverse.Equals("subverses"))
                    {
                        // render browse subverses tab menu
                        Html.RenderAction("SubversesMenu", "Nav", new { sortingMode = sortingMode, subversesView = ViewBag.SubversesView });
                    }
                    else if (ViewBag.SelectedSubverse.Equals(string.Empty))
                    {
                        // don't show tab menu
                    }
                    else
                    {
                        // render subverse tab menu
                        Html.RenderAction("TabMenu", "Nav", new { selectedSubverse = selectedSubverse, sortingMode = sortingMode, action = ViewBag.action, selectedSubverseName = ViewBag.SelectedSubverse });
                    }
                }

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>

    @* Must be logged in Modal *@
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="mustbeloggedinModal" tabindex="-1" role="dialog" aria-labelledby="mustbeloggedinlabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="mustbeloggedinlabel">Login or register</h4>
                    </div>
                    <div class="modal-body">
                        You can login if you already have an account or register by clicking the button below.
                        Registering is free and <strong>all you need is a username and password</strong>. We never ask you for your e-mail.
                        <div>
                            @if (routeController == "Comment" && routeAction == "Comments" && routeId != null)
                            {
                                @Html.Partial("~/Views/Account/_LoginModal.cshtml", loginViewModel, new ViewDataDictionary { { "ReturnUrl", @Url.RouteUrl("SubverseComments", new RouteValueDictionary { { "action", routeAction }, { "controller", routeController }, { "id", routeId } }) } })
                            }
                            else
                            {
                                @Html.Partial("~/Views/Account/_LoginModal.cshtml", loginViewModel, new ViewDataDictionary { { "ReturnUrl", @Url.RouteUrl(ViewContext.RouteData.Values) } })
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p>
                            <b>@Html.ActionLink("Register", "Register", "Account")</b> if you don't have an account. You know you want to ;)
                        </p>
                        <p>
                            <b>@Html.ActionLink("Forgot password?", "ForgotPassword", "Account")</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @* Not enough comment contribution points Modal *@
        <div class="modal fade" id="notenoughccp" tabindex="-1" role="dialog" aria-labelledby="notenoughccplabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="notenoughccplabel">Hi! It looks like you are new around here</h4>
                    </div>
                    <div class="modal-body">
                        <p>Welcome to @Settings.SiteName!</p>
                        <p>In order to downvote comments or submissions you need to have at least 100 comment contribution points.</p>
                        <p>Every time someone upvotes one of your comments, you gain 1 comment contribution point.</p>
                        <p>You currently have @Karma.CommentKarma(User.Identity.Name) comment contribution points.</p>
                        <p>Tip: a good way to earn more contribution points is to take part in discussions or say hi in /v/introductions.</p>
                        <p>This requirement was established as a measure to encourage new members to get involved and participate in discussions.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-whoaverse-medium" data-dismiss="modal">Ok, got it!</button>
                    </div>
                </div>
            </div>
        </div>
        @* Not enough comment contribution points for upvoting Modal *@
        <div class="modal fade" id="notenoughccpupvote" tabindex="-1" role="dialog" aria-labelledby="notenoughccpupvotelabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="notenoughccpupvotelabel">Hi! It looks like you are new around here.</h4>
                    </div>
                    <div class="modal-body">
                        <p>Welcome to @Settings.SiteName!</p>
                        <p>In order to be able to upvote comments or submissions without limitations, you need to have at least 20 comment contribution points.</p>
                        <p>You are currently limited to @Math.Max(10, (Karma.CommentKarma(User.Identity.Name) / 2)) upvotes per 24 hours.</p>
                        <p>Every time someone upvotes one of your comments, you gain 1 comment contribution point.</p>
                        <p>You currently have @Karma.CommentKarma(User.Identity.Name) comment contribution points.</p>
                        <p>Tip: a good way to earn more contribution points is to take part in discussions or say hi in /v/introductions.</p>
                        <p>This requirement was established as a measure to encourage new members to get involved and participate in discussions.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-whoaverse-medium" data-dismiss="modal">Ok, got it!</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-background"></div>
    }

    @RenderBody()

    @if (HttpContext.Current.Request.Cookies["NotFirstTime"] == null)
    {
        HttpCookie hc = new HttpCookie("NotFirstTime", "1");
        hc.Expires = DateTime.Now.AddYears(1);
        HttpContext.Current.Response.Cookies.Add(hc);

        @* First time visitor welcome *@
        if (!User.Identity.IsAuthenticated)
        {
            <script type="text/javascript">
                window.onload = function () { firstTimeVisitorWelcome(); }
            </script>
        }
        @* End First time visitor welcome *@

        <div class="alert eppnotice alert-dismissible" role="alert">
            <button type="button" class="btn-whoaverse-medium" data-dismiss="alert" aria-hidden="true">&times;</button>
            Cookies help us deliver our services. By using our services, you agree to our use of cookies.
        </div>
    }

    @Html.Partial("_Footer")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/javascript")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\"></script>", "~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    @if (!Settings.SignalRDisabled)
    {
        @* SignalR library. *@
        <script src="~/Scripts/libs/jquery.signalR-2.2.0.min.js" defer></script>
        @* Autogenerated SignalR hub script. *@
        <script src="~/signalr/hubs" defer></script>
    }
</body>
</html>
