@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Data.Models.Subverse

@{
    string subverseAge = Submissions.CalcSubmissionAge(Model.CreationDate);
}

<div class="midcol">
    @if (User.Identity.IsAuthenticated)
    {
        if (UserHelper.IsUserSubverseSubscriber(User.Identity.Name, ViewBag.SelectedSubverse))
        {
            <button type="button" onclick="return unsubscribe(this, '@Model.Name')" class="btn-whoaverse-paging btn-xs btn-default btn-unsub">unsubscribe</button>
        }
        else
        {
            <button type="button" class="btn-whoaverse-paging btn-xs btn-default btn-sub" onclick="return subscribe(this, '@Model.Name')">subscribe</button>
        }
    }
    else
    {
        <button type="button" class="btn-whoaverse-paging btn-xs btn-default btn-sub" onclick="mustLogin();">subscribe</button>
    }
</div>

<div class="entry">
    <p class="titlerow">
        <a href="/v/@Model.Name" class="h4">@Model.Title: @Model.Name</a>
    </p>
    <div class="well well-lg subversedescriptionbox">
        <div class="usertext-body may-blank-within">
            <div class="md">
                @if (!String.IsNullOrWhiteSpace(Model.Description))
                {
                    <p class="subversedescriptionboxcontent">@Model.Description</p>
                }
                else
                {
                    <p class="subversedescriptionboxcontent">The owner of this subverse did not write a description yet.</p>
                }
            </div>
        </div>
    </div>
    <p class="">
        <span class="">
            <span id="subscribercount" class="number">@ViewBag.SubscriberCount</span>
            <span class="word">subscribers, a community for @subverseAge</span>
        </span>
    </p>
    <ul class="flat-list buttons">
        <li>
            <form class="toggle report-button " action="#" method="get">
                <input name="executed" value="reported" type="hidden">
                <span class="option main active"><a href="#" class="togglebutton" onclick="return toggle(this)">report</a></span>
                <span class="option error">
                    are you sure?
                    <a href="javascript:void(0)" class="yes" onclick="change_state(this, 'report', hide_thing, undefined, null)">yes</a> / <a href="javascript:void(0)" class="no" onclick="return toggle(this)">no</a>
                </span>
            </form>
        </li>
    </ul>
</div>
